;; WARNING
;; The dev-config.edn file is used for local environment variables, such as database credentials.
;; This file is listed in .gitignore and will be excluded from version control by Git.

{:dev true
 :port 4000
 :bind "127.0.0.1"
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port 7000
 :nrepl-bind "127.0.0.1"
 
 ; set your dev database connection URL here
 ; :database-url "datomic:free://localhost:4334/tolgraven_dev"
 ; alternatively, you can use the datomic mem db for development:
 :database-url "datomic:mem://tolgraven_datomic_dev"

}
