;; shadow-cljs configuration
{;:lein {:profile "+dev"}
 :source-paths ["src/clj" "src/cljs" "src/cljc"]

 :builds
 {:app-dev
  {:lein true
   :jvm-opts ["-Ddev=true"]
   ; :dev-http {4001 "resources/public"}
   :target :browser
   :module-loader true
   :modules {:main {:entries [tolgraven.app]
                    :init-fn tolgraven.app/init!}
             :search {:entries [tolgraven.search.module]
                      :depends-on #{:main :blog}}
             :user {:entries [tolgraven.user.module]
                    :depends-on #{:main}}
             :chat {:entries [tolgraven.chat.module]
                    :depends-on #{:main :user}}
             :github {:entries [tolgraven.github.module]
                    :depends-on #{:main}}
             :docs {:entries [tolgraven.docs.module]
                      :depends-on #{:main}}
             :gpt {:entries [tolgraven.gpt.module]
                    :depends-on #{:main :user}}
             :strava {:entries [tolgraven.strava.module]
                    :depends-on #{:main}}
             :instagram {:entries [tolgraven.instagram.module]
                      :depends-on #{:main}}
             :test {:entries [tolgraven.experiments]
                    :depends-on #{:main}}
             :blog {:entries [tolgraven.blog.module]
                    :depends-on #{:main :user}}}
   :js-options {}
   :output-dir "resources/public/js/compiled/out"
   :asset-path "/js/compiled/out"
   :closure-defines {goog.DEBUG true
                     "re_frame.trace.trace_enabled_QMARK_" true}
   :optimizations   :none
   :language-in     :ecmascript-next
   :language-out    :ecmascript-next
   :pretty-print    true
   :infer-externs   true
   :parallel-build  true
   :closure-warnings {:externs-validation :off
                      :non-standard-jsdoc :off}
   :recompile-dependents false
   :preloads [devtools.preload ;can remove devtools preload cause have in app.cljs?
              re-frisk.preload-hidden
              day8.re-frame-10x.preload
              #_re-frisk.preload #_re-frisk-remote.preload]
   :external-config
   {:devtools/config
    {;:features-to-install [:formatters :hints] ;add exception hints
     :cljs-land-style "background-color: rgb(30, 30, 30, 0.5); color: #edc; border-radius: 7px;"
     :nil-style       "background-color: #282828; color: #d18479;"
     :keyword-style   "background-color: #282828; color: #76a2ab;"
     :integer-style   "background-color: #282828; color: #bd979d;"
     :float-style     "background-color: #282828; color: #bd979d;"
     :string-style    "background-color: #282828; color: #b4b88d;"
     :symbol-style    "background-color: #282828; color: #edc;"
     :bool-style      "background-color: #282828; color: #d18479;"
     :print-config-overrides false} }
   :source-map true
   :source-map-timestamp true
   :devtools {:watch-dir "resources/public"
              :repl-pprint true
              :after-load tolgraven.core/mount-components}}

  :app
  {:target :browser
   :node-via-docker true
   :modules {:main {:entries [tolgraven.app]
                    :init-fn tolgraven.app/init!}}
   :output-dir "resources/public/js/compiled/out"
   :asset-path "/js/compiled/out"
   :optimizations   :advanced
   :language-in     :ecmascript-next
   :language-out    :ecmascript-next
   :pretty-print    false
   :infer-externs   true
   :parallel-build  true
   :closure-warnings {:externs-validation :off
                      :non-standard-jsdoc :off}
   :recompile-dependents false
   :source-map           false
   :source-map-timestamp false}}}
