;; shadow-cljs configuration
{:lein {:profile "+dev"}
 :dev-http {4001 "resources/public"}

 :builds
 {:app
  {:target :browser
   :modules {:main {:entries [tolgraven.core]
                    :init-fn tolgraven.core/init!}}
   :js-options {}
   :output-dir "resources/public/js/compiled/out"
   :asset-path "/js/compiled/out"
   :closure-defines {goog.DEBUG false}
   :optimizations :advanced
   :language-in     :ecmascript-next
   :language-out    :ecmascript-next
   :pretty-print false
   :infer-externs true
   :parallel-build true
   :closure-warnings {:externs-validation :off
                      :non-standard-jsdoc :off}
   :devtools {:watch-dir "resources/public"
              :repl-pprint true
              :after-load tolgraven.core/mount-components} }}}
