{:linters {:unused-binding {:level :off} :unused-namespace {:level :off} :unresolved-namespace {:level :off}}
 :lint-as {tolgraven.macros/for     clojure.core/for
           tolgraven.macros/defcomp clojure.core/defn}}
