.burger-check {
  display: none;
}

.burger {
  position: relative;
  cursor: pointer;
  border-bottom: calc(2 * var(--line-width)) solid; /* LOWER BUN */
  --height: 1.5rem;
  height: var(--height);
  min-width: var(--height);
  transition: border-bottom 1s ease-in-out;
  margin: 0;

  &:before, &:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  &:before { /* UPPER BUN */
    border-bottom: calc(2 * var(--line-width)) solid; /* UPPER BUN */
  }
  &:after {
    border-top: calc(2 * var(--line-width)) solid; /* UPPER BUN */
    margin-top: calc(0.5 * var(--height) - var(--line-width));
  }
}

.burger-check:checked ~ header .burger {
  position: absolute; /* position: relative; /1* if relative affects width of banner logo ugh *1/ */
  bottom: -0.6em;
  right: 0.1em;
  width: 0%;
  border: 0;
  border-radius: 0;
  transition: border-bottom 0.45s ease-in-out;
  
  &:before, &:after {
    position: absolute;
    width: var(--height);
    right: var(--space);
    --translate: -1rem;
    margin: 0;
    transition: transform 0.3s ease-in-out;
  }
  &:before { /* line connecting menu and side through top of burger */
    transform: rotate(225deg) translateY(-12px) translateX(-4px);
    -webkit-transform: rotate(225deg) translateY(var(--translate)) translateX(var(--translate));
  }
  &:after {
    transform: rotate(315deg) translateY(8px) translateX(-10px);
    -webkit-transform: rotate(315deg) translateY(calc(-1 * var(--translate))) translateX(var(--translate));
  }
}

