.burger-check {
  display: none;
}

.burger {
  position: relative;
  cursor: pointer;
  border-bottom: calc(2 * var(--line-width)) solid; /* LOWER BUN */
  --height: 1.5rem;
  height: var(--height);
  min-width: var(--height);
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
}
.burger::-moz-focus-inner {
  /* border: 0; */
  /* padding: 0; */
}
.burger:before, .burger:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger:before { /* UPPER BUN */
  border-bottom: calc(2 * var(--line-width)) solid; /* UPPER BUN */
}
.burger:after {
  border-top: calc(2 * var(--line-width)) solid; /* UPPER BUN */
  margin-top: calc(0.5 * var(--height) - var(--line-width));
}

.burger-check:checked ~ header .burger {
  position: absolute; /* position: relative; /1* if relative affects width of banner logo ugh *1/ */
  right: var(--space); /* match the padding otherwise applying... */
  top: var(--space-top); /* needs to be a static amount or lines break... */

  right: 0;
  width: calc(100% * ((1.0 - var(--menu-width-fraction)) / 2)
              + 0.75 * var(--space));
  border: 0;
  border-top: var(--line-width) solid currentColor;
  border-radius: 0;
  transition: border-bottom 0.45s ease-in-out;
  /* transform: rotate(15deg); /*translateY(1px) translateX(-3px); *1/ */
}
.burger-check:checked ~ header .burger:before,
.burger-check:checked ~ header .burger:after {
  position: absolute;
  width: var(--height);
  right: var(--space);
  --translate: -1rem;
  margin: 0;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}
.burger-check:checked ~ header .burger:before {
  /* line connecting menu and side through top of burger */
  transform: rotate(225deg) translateY(-12px) translateX(-4px);
  -webkit-transform: rotate(225deg) translateY(var(--translate)) translateX(var(--translate));
}
.burger-check:checked ~ header .burger:after {
  transform: rotate(315deg) translateY(8px) translateX(-10px);
  -webkit-transform: rotate(315deg) translateY(calc(-1 * var(--translate))) translateX(var(--translate));
}


