/* BUNCH OF MEDIA QUERIES PROB DUMB LUMPING ALL IN SAME SPOT, ANYWAYS */
@media screen and (min-width: 600px) {
  :root {
    --logo-ratio: 0.339;
  }
}

@media screen and (min-width: 800px) and (min-height: 800px) {
  :root {
    --space: 1.3rem;
    --space-lg: 2.15rem;
    --space-sides: 5vw;
    --space-edges: 5vw;
  }
}
@media screen and (min-width: 1000px) {
  .line { /* i guess x overflow only important on ios, so we hype here */
    // width: 200%; /* extend out like damn */
  }
  :root {
    --space: 1.5rem;
    --space-lg: 2.4rem;
    --space-edges: 10vw;
    --space-sides: 10vw;
    font-size: 1.10rem;
    --logo-ratio: 0.360;
  }
}
@media screen and (min-width: 1300px) {
  :root {
    --space: 2.1rem;
    --space-lg: 3.2rem;
    --space-edges: 15vw;
    --space-sides: 15vw;
    --logo-ratio: 0.341;
    --categories-spacing-percent: 42%;
  }

  #intro {
    --line-percent: 93%;
    .h-intro {
      &:after {
        bottom: 24%;
        left: 0.3em;
      }
    }
  }
}
@media screen and (min-width: 1500px) {
  :root {
    --space-edges: 20vw;
    --space-sides: 20vw;
  }
}
@media screen and (min-width: 1850px) {
  :root {
    --space-edges: 25vw;
    --space-sides: 25vw;
  }
}
@media screen and (max-width: 600px),
       screen and (max-height: 600px) {
  :root {
    --space: 1.0rem;
    --space-lg: 1.5rem;
    --space-sides: var(--space); /* remember -sides based on the smaller num for mobile (since margins are more precious) */
    --space-edges: 0.8rem; /* perfectly makes room for macos scrollbar */

    --scale: 0.9;
    font-size: 0.90rem;
  }
}
@media not all and (min-resolution:.001dpcm), /* is safari AND     */
       (prefers-reduced-motion: reduce) {     /* wants no parallax */
  :root {
    --perspective: 1; /* just to be sure. but kills translatez etc... */
    --parallax:    0;
    --parallax-squeeze-tf: 100%; /* fuck knows why */
  }
}
@media not all and (min-resolution:.001dpcm) { /* is safari */
  :root {
    // --logo-ratio:        0.40; /* lol, 41.25 actual ratio, 40.6 works on chrome desktop, 40.0 on safari ios... */ /* just use img... */ /* or make logo look like i want in first place - needs higher-res or vector bounce anyways */
  }
  
  .stick-up { /* safari is being way irresponsible drawing img sticky layers.. and general compositing/z-index */
    // position: relative !important;
    // top: initial;
  }
  section {
    transform: translate3d(0, 0, 0); // apparently fixes safari sticky/fixed z-index scrolling bug! section might we bit of a wide net tho..
  }
  .parallax-bg {
    transform: initial; // safari doesnt want the y -60% adjustment, initial since cant use parallax anyways
  }
}
@supports (-webkit-overflow-scrolling: touch) { /* iOS devices */
  body { /* prevent insane bumping of p font size in landscape and more */
    text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
  // .search-input-autocomplete {
  //   padding-left: 5.0em; // compensate for safari search icon. same on mobile chrome tho...
  //   left: 5.0em; // compensate for safari search icon. same on mobile chrome tho...
  // }
}
@media only screen and (-webkit-device-pixel-ratio: 3) {
  :root { /* *im thinking this is what it's about. 3 vs 2 pixels per pixel */
    --fiddle-multiplier: 1; /* makes iphone x line up with current formulas/offsets */
  }
}
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) {
  /* iphone x */
} @media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
  /* iphone 6-8. i mean not really tho could be loads?? */
} @media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
  /* 6-8 plus */
}

@media screen and (max-width: 500px) {
  :root {
    font-size: 0.75rem;
    --space: 0.75rem;
    --space-lg: 1.0rem;
  }
  
  button {
    // --around: var(--space) var(--space) !important;
    font-size: 105% !important;
  }
}
@media screen and (max-width: 400px) {
  :root {
    font-size: 0.72rem;
    --space-sides: calc(0.5 * var(--space)); /* remember -sides based on the smaller num for mobile (since margins are more precious) */
    --space-edges: calc(0.0 * var(--space));
    --line-width-vert: 0;
  }
  #top-banner { /* need a better solution for ensuring doesnt overflow... like a tallet image? */
    padding-top: 0;
  }
}
@media screen and (max-width: 319px) {
  :root { // these settings work down til about 260 then footer doubles up. Also get issues with heading image bleeding out on right hmm.
    font-size: 0.67rem;
    --space-edges: calc(0.1 * var(--space));
    --line-width-vert: 0;
  }
}


/******************************************************************************************/
/* MEDIA corrections which need to go after everything else (or use !important lol)       */
/******************************************************************************************/
@media all and (orientation: landscape) { // hide away header and footer on mobile landscape (...many additional fixes needed)
  // all this didnt really work properly anyways + no issue anymore with auto hiding header/footer :)
}
