
.cv {
  color: var(--fg-3);
  z-index: 30;

  transition: all 0.5s ease;

  .cv-skills {
    background: linear-gradient(180deg, var(--bg-2) 20%, var(--bg-3) 90%);
    margin-top: calc(0px - 1.0 * var(--space));
    font-size: 0.7em;

    h1 {
      padding: var(--space);
      text-align: center;
    }

    .cv-skill {
      padding: var(--space);
      color: var(--fg-6);
      min-height: 25em;
      
      .cv-skill-line span {
        background: var(--bg-3);
        color: var(--fg-2);
      }
    }
  }
}

.cv-intro {
  background: linear-gradient(180deg, black 10%, var(--dark-1) 60%, var(--bg-2) 90%);

  .cv-howto {
    font-size: 65%;
    padding: var(--space);
  }

  img {
    filter: invert(0.95) hue-rotate(180deg) brightness(130%);
  }
  
  h1 {
    padding-top: var(--space-lg);
    text-align: center;
  }
  > p {
    margin: calc(0px - 2.5 * var(--line-width)) 0;
    padding: var(--space-lg);
    background: linear-gradient(180deg, hsl(0, 0%, 7%) 20%,  hsl(179, 9%, 11%));
  }
  button {
    margin-bottom: var(--space-lg);
  }

}

.modal-zoom {
  .cv-boxes {
    font-size: 75%;
  }
}

.cv-boxes {
  overflow-x: scroll;
  font-size: 80%;
}

@mixin i-gradient {
  i {
    background: linear-gradient(-45deg, var(--fg-1), var(--bg-6));
    background-clip: text;
    color: transparent;
  }
}

.cv-items {
  position: relative;
  padding-top: calc(0.5 * var(--space));
  border-bottom: var(--line-width-sm) solid var(--bg-6);
  min-height: 15em;
  width: 150em;
  overflow-x: scroll;

  &.cv-education {
    background: linear-gradient(0deg, var(--bg-3), var(--bg-2));
    max-height: 12em;
    
    @include i-gradient;

    .cv-detail {
      max-height: 18em;
    }
  }
  &.cv-work {
    background: linear-gradient(0deg, var(--bg-5), var(--bg-3));
    height: 36em;
    @include i-gradient;
  }
  &.cv-life {
    background: linear-gradient(0deg, var(--bg-6), var(--bg-5));
    height: 26em;
    
    @include i-gradient;
  }
  h1 {
    text-align: right;
    color: var(--fg-6);
    padding: 0;
    padding-right: var(--space);

    i {
      padding-right: calc(0.5 * var(--space));
    }
  }
}

.cv-detail {
  font-size: 0.8em;
  position: absolute;
  background-color: var(--fg-4);
  color: var(--bg-1);
  min-height: 10em;
  opacity: 90%;
  border-radius: 0.2em;
  border-bottom-right-radius: 1.2em;
  box-shadow: 2px 2px 17px var(--box-regular-color); 
  

  transition: all 0.5s ease;

  img {
    position: absolute;
    width: 3.75em;
    bottom: 0;
    right: 0;
    padding: 0.4em;
  }
  
  span, p {
    margin: 0.3em;
    margin-left: 0.6em;
    margin-right: 0.6em;
  }

  .cv-from, .cv-to {
    color: var(--bg-5);
  }

  .cv-to {
    position: absolute;
    right: 0;
    top: 0;
  }

  &.cv-detail-expanded {
    min-height: 25em;
    max-height: 40em;
    position: fixed;
    z-index: 10;
    left: 10%;
    width: 80%;
    padding: var(--space-lg);
    font-size: 0.9rem;
    opacity: 90%;
    backdrop-filter: blur(1rem); // no go unless have alpha on bg color, sadfly
    border-bottom-right-radius: 2.4em;
    transform: scale(1);
    
    i {
      background: linear-gradient(-45deg, var(--bg-1), var(--bg-6));
      background-clip: text;
      color: transparent;
      margin-left: calc(0px - var(--space));
      margin-right: calc(0.35 * var(--space));
    }

    img {
      width: 6em;
    }
    
    .cv-from {
      position: absolute;
      left: 0;
      top: 0;
    }

    h2 {
      padding-bottom: var(--space);
    }
    
    .cv-what {
    }
    .cv-where {
    }
  }

  &.cv-detail-closing {
    transform: scale(0);
  }

}
