
.cv {
  display: inline-grid;
  color: var(--fg-3);
  z-index: 30;
  margin: 0;
  width: 100%;

  transition: all 0.25s ease,
              width 0.9s ease 0.0s,
              max-width 0.9s ease 0.0s,
              margin 0.25s ease 0.0s;

  &.fullscreen {
    border: var(--line-width) solid var(--line-color);
    margin-top: calc(0px - var(--line-width));
    margin-bottom: calc(0px - var(--line-width));
    z-index: 15; // ensure fader above blacks out top border within main
  }

  .cv-caption {
    font-size: 70%;
    color: var(--fg-6);
    margin-left: calc(1 * var(--space-lg));
  }

  .cv-skills {
    background: linear-gradient(180deg, var(--bg-2) 20%, var(--bg-3) 90%);
    margin-top: calc(0px - 0.5 * var(--space));
    padding-top: calc(0px - 0.0 * var(--space));
    font-size: 0.9em;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 100;
    border-top: var(--line-width) solid var(--bg-6);

    h1 {
      padding: var(--space);
      text-align: center;
    }

    .carousel-prev-btn, .carousel-next-btn {
      font-size: 400%;
      top: 25%;
    }

    .carousel-idxs {
      margin-bottom: var(--space-lg);
    }

    .cv-skill {
      color: var(--fg-6);
      min-height: 25em;
      
      .cv-skill-line span {
        background: var(--bg-3);
        color: var(--fg-2);
      }
    }
  }
}

.cv-intro {
  background: linear-gradient(180deg, var(--bg-pure) 10%, var(--bg-1) 60%, var(--bg-2) 90%);

  .cv-howto {
    font-size: 75%;
    padding: var(--space);
  }

  img {
    filter: var(--logo-flip);
    width: 100%;
    background-color: var(--bg-pure);
  }
  
  h1 {
    padding-top: var(--space-lg);
    text-align: center;
  }
  > p {
    margin: calc(0px - 2.5 * var(--line-width)) 0;
    padding: var(--space-lg);
    border-bottom: var(--line-width-sm) solid var(--bg-6);
    background: linear-gradient(180deg, var(--bg-pure) 20%,  hsl(179, 9%, var(--lum-bg-2)));
  }
  button {
    // margin-bottom: var(--space-lg);
  }

}

.modal-zoom {
  .cv-boxes {
    font-size: 75%;
  }
}

.cv-decade-lines {
  position: relative;
  height: 2%;
  background-color: var(--bg-2);
  border-bottom: var(--line-width-sm) solid var(--bg-6);
  border-top: var(--line-width-sm) solid var(--bg-6);
  z-index: 10;

  .cv-decade-line {
    position: absolute;
    top: 0;
    width: var(--line-width-sm);
    height: 5000%;
    background: var(--bg-6);
    z-index: 0;

    .cv-decade-label {
      position: absolute;
      top: 0.25%;
      left: 0.8em;
    }
  }
}

.cv-boxes {
  overflow-x: scroll;
  overflow-y: hidden;
  font-size: 80%;
  background: linear-gradient(180deg, var(--bg-pure) 10%, var(--bg-1) 60%, var(--bg-2) 90%);
}

@mixin i-gradient {
  i {
    background: linear-gradient(-45deg, var(--fg-1), var(--bg-6));
    background-clip: text;
    color: transparent;
  }
}

.cv-items {
  position: relative;
  padding-top: calc(0.5 * var(--space));
  border-bottom: var(--line-width-sm) solid var(--bg-6);
  min-height: 15em;
  overflow-x: scroll;

  &.cv-education, &.cv-work, &.cv-life {
    @include i-gradient;

    .cv-detail {
      max-height: 18em;
    }
  }

  h1 {
    text-align: right;
    color: var(--fg-6);
    padding: 0;
    padding-right: var(--space);

    i {
      padding-right: calc(0.5 * var(--space));
    }
  }
}

.cv-detail {
  font-size: 0.8em;
  position: absolute;
  background-color: var(--fg-4);
  color: var(--bg-1);
  min-height: 10em;
  opacity: 93%;
  z-index: 11;
  border-radius: 0.2em;
  border-bottom-right-radius: 1.2em;
  box-shadow: 2px 2px 7px 5px var(--box-regular-color); 
  // overflow: hidden;
  min-width: 12em;
  
  transition: all 0.25s ease;

  img {
    position: absolute;
    transition: all 0.5s ease;
    width: 5em;
    display: none;
    bottom: 0;
    right: 0;
    margin: 0.25em;
    padding: 0.25em;
    border-radius: 25%;
    border-bottom-right-radius: 20%;
    border-right: 1px solid var(--bg-4);
    border-bottom: 1px solid var(--bg-4);
    box-shadow: 2px 2px 5px 4px var(--box-faint-color);
    text-shadow: 2px 2px 5px 4px var(--box-faint-color);
    // background: linear-gradient(-45deg, rgba(0.5, 0.5, 0.5, 0.5),
                //                         rgba(0.5, 0.5, 0.5, 0.2)); // bit meh
    background: linear-gradient(-45deg, rgba(0.3, 0.3, 0.3, 0.2), (0.2, 0.2, 0.2, 0.1));
    backdrop-filter: saturate(160%) blur(3px);

    &:hover {
      transform: scale(1.3) translateX(-1.5em) translateY(-1.5em);
      box-shadow: 2px 4px 7px 4px var(--box-regular-color);
    }
  }

  .cv-bg-logo {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -100;
      background-repeat: no-repeat;
      opacity: 0.1;
      background-size: inherit;
      background-position-x: right;
      background-position-y: bottom;
      
      --from-fade: 35%;
      --from-alpha: 0.0;
      --to-fade: 65%;
      --to-alpha: 1.0;
      transition: -webkit-mask 0.25s ease;
      -webkit-mask: linear-gradient(to right, rgba(0,0,0,var(--from-alpha)) var(--from-fade),
                                              rgba(0,0,0,var(--to-alpha)) var(--to-fade));
  }
  
  &:hover {
    .cv-bg-logo { // sadly not animatable :() use js animation! with spring!! muah
      // --from-fade: 30%;
      // --to-fade: 50%;

      --from-alpha: 0.3;
      --to-alpha: 1.0;
    }
  }
  
  span, p {
    margin: 0.3em;
    margin-left: 0.6em;
    margin-right: 0.6em;
  }

  .cv-from, .cv-to {
    color: var(--bg-5);
  }

  .cv-to {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .cv-where {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &.cv-detail-expanded {
    min-height: 15em;
    max-height: 40em;
    overflow-y: scroll;
    max-width: 20%;
    z-index: 110;
    width: 80%;
    padding: var(--space-lg);
    font-size: 0.9rem;
    opacity: 90%;
    backdrop-filter: blur(1rem); // no go unless have alpha on bg color, sadfly
    border-bottom-right-radius: 2.4em;
    transform: scale(1);
    
    p {
      margin-right: calc(3 * var(--space-lg));
    }
    i {
      background: linear-gradient(-45deg, var(--bg-1), var(--bg-6));
      background-clip: text;
      color: transparent;
      margin-left: calc(0px - var(--space));
      margin-right: calc(0.35 * var(--space));
    }

    img {
      position: absolute;
      display: initial;
      width: 10em;
    }
    
    .cv-bg-logo {
        background-size: contain;
    }
    
    .cv-from {
      position: absolute;
      left: 0;
      top: 0;
    }

    h2 {
      padding-bottom: var(--space);
    }
    
    .cv-what {
    }
  }

  &.cv-detail-closing {
    transform: scale(0);
  }

}
