@font-face {
  font-family: 'Fira Code';
  src:  url('../../webfonts/FiraCode-Retina.woff2') format('woff2'),
        url('../../webfonts/FiraCode-Retina.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  src:  url('../../webfonts/OpenSans-Regular.ttf') format('ttf');
}
