
footer {
  position: relative;
  padding-bottom: env(safe-area-inset-bottom); /* handle iphone x+, no harm for rest. TODO also adjust top-shortcut */
  margin-top: calc(0px - var(--line-width));
  font-size: 0.85rem;

  border-left: var(--line-width) solid var(--line-color); /* connect bottom to main on left side */

  transition: all var(--header-expand-time) ease;
  z-index: 20;

  a {
    p {
      &:after {
        content: "";
      }
    }
  }

  &.hide {
    border: none;
    bottom: calc(0px - var(--line-width));
    max-height: 0;
    transition: all var(--header-expand-time) ease;
  }

  &.full {
    padding-top: var(--space);
  }
  
  &:before, &:after {
    content: "";
    height: 100%;
    position: absolute;
    bottom: 0px;
    z-index: -1;
    border-top: var(--line-width) solid var(--line-color);
  }
  &:before {  
    background: linear-gradient(35deg, var(--bg-1), var(--blue) 335%);
    width: calc(var(--space-sides) - var(--line-width));
    left: calc(0px - var(--space-sides));
  }
  &.adjust-for-fullscreen {
    &:after {
      background: var(--bg-1);
      right: calc(0px - var(--space-sides));
      width: calc(var(--space-sides) - 0 * var(--line-width));
    }
    // XXX WANT THIS EFFECT. Make it an elem cause out of ::before/::afters lol
    // &:after {
    //   content: "";
    //   background: linear-gradient(35deg, var(--bg-1), var(--blue) 335%);
    //   width: calc(var(--space-sides) - var(--line-width));
    //   height: 100%;
    //   position: absolute;
    //   bottom: 0px;
    //   right: calc(0px - var(--space-sides));
    //   z-index: -1;
    //   border-top: var(--line-width) solid var(--line-color);
    // }
  }
  border-top: var(--line-width) solid var(--line-color);
}

.footer-sticky {
  position: fixed;
  z-index: 101;
  max-height: var(--footer-height);
  left: var(--space-edges);
  bottom: calc(0rem - var(--footer-bottom));
  width: calc(100% - 2 * var(--space-edges));
  background: linear-gradient(90deg, var(--bg-2) 75%, var(--bg-1));
}

.footer-full {
  background: linear-gradient(90deg, var(--bg-2) 75%, var(--bg-1));
  max-height: var(--footer-height-full);
  margin-bottom: -8px; // no clue why but get a gap otherwise
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

  margin: 0.6em var(--space);

  button i {
    vertical-align: middle;
  }
}

img.img-icon {
  margin: calc(0.5 * var(--space));
  height: 2em;
  filter: saturate(0.6);
}

.post-footer-content {
  margin-top: var(--space-lg);

  .footer-column {
    margin: 0.0rem var(--space-lg) 0.0rem 0.5em;
    flex: 1 0 auto;
  }

  .footer-links {
    display: flex;
    flex-direction: column;

    .footer-link-with-text {
      display: flex;
      justify-content: space-between;

      p:last-of-type {
        font-weight: 300;
      }
    }
  }
  
  h4 {
    display: inline;
    position: relative;
  }
  h4:after {
    content: "";
    height: 0.1em;
    background: linear-gradient(to right, rgba(216, 187, 182, 0.63), var(--fg-2) 185%);
    width: 98%;
    transform: skew(-30deg);
    position: absolute;
    bottom: 2px;
    left: 0px;
    z-index: -1;
  }
}

.footer-column {

  &#footer-left {
    display: flex;

    .img-icon {
      margin-top: 0.25em;
      border-radius: 50%;
    }
  }

  > div {
    flex: 1 0 auto;
  }
}
.footer-icons {
  text-align: end;
  > a {
    padding: 0 0.45rem;
    font-size: 2.0em;

    &:focus, &:hover {
      filter: brightness(130%) saturate(95%);
      background: var(--bg-1);
      text-shadow: -1px 2px 4px var(--box-regular-color-flip);
    }

    i {
      transition: all 0.3s;
      &:hover {
        transform: scale(1.4) rotate(-7deg); // why no work??
      }
    }
  }
}
.fa-soundcloud { text-shadow: 2px 2px 1px #ff9533; }
.fa-twitter {    text-shadow: 2px 2px 1px #1DA1F2; }
.fa-facebook {   text-shadow: 2px 2px 2px #3b5998; }
.fa-instagram {  text-shadow: 2px 2px 3px #8134af; }
.fa-linkedin {   text-shadow: 2px 2px 1px #0077b5; }
.fa-github {     text-shadow: 1px 1px 3px var(--fg-2); }
.fa-google {     text-shadow: 1px 1px 3px var(--fg-2); }

.md-icon {
  width:  var(--space-lg);
  height: var(--space-lg);
}
.sm-icon {
  width:  var(--space);
  height: var(--space);
}
h3::first-letter { /* nice looking fancy. why isnt applying within category?? */
  font-size: 120%;
  filter: brightness(110%);
}

#footer-middle {
}
#footer-right { /* can change to just last then no worry bout ids */
  flex: 1 4 auto;
}


.to-top {
  position: fixed;
  left:  calc(var(--space-sides) + 0.75 * var(--space));
  bottom: calc(0.33 * var(--space) + var(--footer-height-current));
  color: var(--fg-2);
  font-size: 1.2rem;
  /* z-index: -1; */
  z-index: 200;
  text-shadow: 1px 1px 1.0rem var(--fg-2);
  opacity: 0.6;
  transition: bottom 0.5s ease;
}
#to-top-bg {
  /* filter: brightness(150%); */
}

