/* TODO add more ways */

.carousel { /* sliding background images */
}

.carousel-item { /* individual item wrapper (or just apply straight to img/item?) for carousel */
}

.carousel-nav { /* container for navigation buttons */
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel-nav-item { /* indicator */
  display: inline-block;
  border-radius: 100%;
  border: 1px solid var(--fg-1);
  width: 1em;
  height: 1em;
  margin: 0.25em;
}
.carousel-nav-item.checked {
  background-color: var(--fg-1);
}


/* HORIZONTAL GALLERY SCROLL THING */
.sideways { /* scroll horizontally */
  overscroll-behavior-x: contain; /* keeps the sideways swiping from resulting in accidental page-back etc. only on chrome ...*/
  scroll-snap-type: x mandatory;

  overflow-x: scroll;
  overflow-y: hidden;
  max-height: calc(90vh - var(--header-height));
  display: flex;
  flex-wrap: nowrap;
  padding-top: 0;
  padding-bottom: 0;
}
.sideways > div, .sideways > img {
  scroll-snap-align: start;
  position: sticky;
  left: 0;
  /* width: unset; */
  object-fit: cover; /* gets weird with extreme viewports (like iphone either portrait or landscape) but not sure how else to deal with it... */
  margin: 0;
  border-left: var(--line-width-vert) solid;
  border-radius: 0;
  box-shadow: -0.5rem 0 1rem 0.5rem var(--box-regular-color);
}
.sideways > *:first-of-type { /* left first be throwaway item */
  border: 0;
  animation: nudge 5s infinite;
  animation-play-state: paused;
  margin-right: calc(-2 * var(--space-lg));
}
@keyframes nudge { /* some weird safari bug where it doesnt revert properly and ends up animating for 100% not 20% of sequence... */
  0%, 20% { margin-right: calc(-2 * var(--space-lg)); }
  10% { margin-right: calc(-3 * var(--space-lg)); }
}
.sideways > *:first-of-type:hover,
.sideways > *:first-of-type:focus {
  animation-play-state: running;
}
.sideways > *:nth-of-type(2) { /* keep item visible on right as signal can scroll sideways */
  left: 3%;
  /* transform: translateZ(var(--parallax-sm-px)) scale(var(--parallax-sm-scale)); */
  /* transform-origin: 50% -950%; */
}
.sideways > *:nth-of-type(3) { left: 6%; }
.sideways > *:nth-of-type(4) { left: 9%; }
.sideways > *:nth-of-type(5) { left: 12%; }

.sideways > *:last-of-type {
  /* border: 0; */
  /* padding-right: var(--space-lg); */
  /* margin-right: var(--space-lg); */
}

