
.github-commits {
  font-size: 85%;
  background: var(--bg-3);
  padding: calc(0.75 * var(--space));
  padding-top: calc(1.0 * var(--space));
  overflow-x: hidden;

  h2 {
    text-align: center;
    margin-bottom: var(--space);

    i {
      margin-right: 0.2em;
    }
  }

  .github-commits-inner {
    @include rounded-bottom;
    border: var(--line-width-sm) solid var(--bg-6);
    border-top: var(--line-width-sm) solid var(--line-color);
    box-shadow: 6px 7px 15px 8px inset rgba(127, 127, 200, 0.07);
    background: var(--bg-2);
    
    height: 50em;
    overflow-y: scroll;

    .github-loading {
      text-align: center;
      padding: var(--space-lg);
    }

    :nth-child(odd) {
      &.github-commit {
        background-color: hsla(var(--hue-3), 70%, var(--lum-fg-6), 0.025);
      }
    }

    input { // search
      margin: 0;
      position: sticky; 
      top: 0;
      z-index: 2;
    }
  }
  
  .github-commit {
    position: relative;
    padding-top: 0.2em;
    padding-bottom: 0.4em;

    .github-commit-details {
      width: 100%;

      a {
        color: var(--purple);
      }
    }

    .github-commit-time {
      font-size: 90%;
      color: var(--fg-5);
      margin-right: 0.5em;
    }
    .github-commit-sha {
      font-size: 80%;
      margin-left: 0.5em;
      text-decoration: none;

      &:after {
        color: var(--fg-5);
      }
    }

    .github-commit-message {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .info {
        flex: 1 1 auto;
        white-space: pre-line;
      }

    }

    .user-avatar {
      position: relative;
      width: 2.2em;
      height: 2.2em;
      margin: 0.4em 0.6em;
    }
  }
  
}
.github-commit-titles {
  flex: 0 0 auto;
  margin: auto;
  margin-right: calc(0.5 * var(--space));
  margin-left: calc(1.0 * var(--space));

  > span, i {
    padding: 0.2em 0.35em;
    height: fit-content;
    border-radius: 0.3em;
  }
  i {
    font-size: 70%;
  }
  .title {
    background-color: var(--bg-6);
  }
  .subtitle {
    background-color: var(--bg-4);
  }
}

.github-commit-full {
  position: relative;
  overflow: hidden;


  > div {
    overflow: scroll;

    > code, p {
      padding-left: 1em;
    }
  }
  pre {
    flex: 1 0 auto;
    background: none;
    overflow: visible;

    &.linenum, &.diff {
      margin-right: 0.0em;
      flex: 0 0 auto;
    }
    &.linenum {
      text-align: right;
      background: var(--bg-2-2);
      padding: 1em;
      padding-left: 1.5em;
      padding-right: 0.4em;
      border-right: var(--line-width-sm) solid var(--bg-1);
    }

    &:last-of-type {
      background-color: hsla(var(--hue-3), 70%, 15%, 0.125);
      margin-left: 0;
    }
  }
  .diff {
      background: var(--bg-3-2);
  }
  .hljs-deletion, .hljs-addition {
    position: relative;
    color: black;
    overflow: visible;
    font-size: 0.80em;
    z-index: 0;
    pointer-events: none;

    &:after {
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      // width: 100%;
      // width: calc(100vw - 2 * var(--space-sides) - var(--space));
      width: 90em;
      height: 1.50em;
      opacity: 15%;
    }
  }
  
  .hljs-deletion {
    &:after {
      // background-color: var(--red);
      background-color: var(--red);
    }
  }
  .hljs-addition {
    &:after {
      background-color: var(--green);
    }
  }
}
