/* intro image and background logo... */

#top-banner {
  opacity: 0.65;
  /* z-index: -1; */
  left: 0;
  top: 0;
  width: 100%;
  object-fit: cover;

  animation: top-backdrop 6s ease infinite;
  animation-play-state: paused;
}
#top-banner:hover {
  animation-play-state: running;
}
@keyframes top-backdrop { /* well this'd be nice but it's CRAZY on the cpu bleh */
  0%, 50% { /* --anim-brightness: 0%; /1* no interpolation like this :/ *1/ */
    backdrop-filter: brightness(100%);
    -webkit-backdrop-filter: brightness(100%);
  } 80% {
    backdrop-filter: brightness(250%);
    -webkit-backdrop-filter: brightness(250%);
  } 100% {
    backdrop-filter: brightness(100%); /* or like "none" */
    -webkit-backdrop-filter: brightness(100%);
  }
}


.logo-tolgraven {
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.09;
  border-radius: 38%;
  border: 0.35em solid var(--bg-1); /* hmm gotta make a bit device-dependent */
  box-shadow: 5px 5px 7px 2px var(--box-regular-color-flip);
}
@keyframes fade-in-logo {
  0% {
    opacity: 0.00;
    background-size: 85%;
    border-radius: 63%;
  } 65% {
    border: 0.35em solid transparent; /* hmm gotta make a bit device-dependent */
  } 90%, 100% {
    border: 0.35em solid var(--bg-1); /* hmm gotta make a bit device-dependent */
    opacity: 0.10;
    // filter: invert() hue-rotate(180deg);
  }
}
@keyframes zoom-logo {
  0%   { }
  100% { width: 100%; }
}

.logo-bg {
  margin-left:  auto; /* better center it automatically instead of counting n shit... */
  margin-right: auto;

  z-index: -1; /* was -1 TODO need a clear order since layers are adding up... not just -1/100 lols */

  /* width: var(--media-width-main); */
  height: 0; /* hacky way to size by bg-image height... */
  padding-bottom: calc(var(--media-width-main) * var(--logo-ratio)); /* height ratio of logo */
  box-shadow: inset 2px 2px 12px 7px var(--box-regular-color-flip);
  /* overflow: hidden; */

  animation-play-state: paused;
  animation: zoom-logo 15s;
}
.logo-bg:hover {
  animation-play-state: running;
}
#logo-top {
  /* position: absolute; */
  /* position: sticky; */
  /* top: var(--header-height-current); */
  /* top:  calc(var(--space) * 5); /1* small header and a bit, position for when starts moving off sticky, which is also good fallback when parallax missing... *1/ */
  /* top:  calc(var(--header-height) + var(--space)); /1* small header and a bit, position for when starts moving off sticky, which is also good fallback when parallax missing... *1/ */
  /* top:  calc(var(--header-height)); */
  margin-top: calc(1.5 * var(--space-lg));
  animation: fade-in-logo 3.5s;
}
#logo-bottom { /* same as top but (un)inverted and coming from below */
  position: absolute;
}
