// @import url('https://fonts.googleapis.com/css?family=Open+Sans:500,600,700');
@import "burger.scss";
@import "peripheral.scss";
@import "header.scss";
@import "footer.scss";
@import "hero.scss";
@import "gallery.scss";
@import "mods.scss";
@import "hljs.scss";
@import "native-inputs.scss";
@import "blog.scss";
@import "user.scss";
@import "strava.scss";
@import "chat.scss";
@import "experiments.scss";
@import "components.scss";
@import "main-page.scss";
@import "vars.scss";
@import "compat.scss";

 
* {
  box-sizing: border-box; // include border in elem sizing
  margin:  0;
  padding: 0;
}

:target { /* pseudo-el representing a target (link, id/el)... */
  /* does not appear to do the trick tho. wait isnt it :: or hmm nope would be if was like *::target? */
  /* html, body does seem to semi-work so whatever */
  scroll-padding-top: var(--header-height-current);
}

html, body {
  scroll-padding-top: var(--header-height-current);
}
html {
  height: 100%;
  overflow-x: hidden; /* gotta be on both or doesnt work on iphone hmm */
  scroll-behavior: smooth; /* makes in-page links scroll to target beautifully in chrome */
  /* overscroll-behavior-y: none; /1* actually works in chrome, stops from overscroll. BUT makes scrolling and esp sticky jittery it seems? *1/ */
}

body {
  font-family: 'Open Sans', sans-serif;
  // font-family: 'Fira Sans', sans-serif;
  color: var(--fg-1);
  background-color: var(--bg-1);
  width: calc(100% - 2 * var(--space-edges));
  margin: auto;
}


li {
  list-style: none;
}

a {
  color: var(--fg-2);
  text-decoration: none;
  
  &:focus, &:hover, &:active {
    transform: scale(1.10);
    filter: brightness(125%) drop-shadow(0.2rem 0.2rem 0.1rem var(--bg-1));
  }
}

main { /* dunno purpose of why I choose .main-content... */
  width: 100%;
  
  border-top: var(--line-width) solid var(--line-color); /* should make configurable. off looks p nice on main page */
  border-bottom: var(--line-width) solid var(--line-color); /* should make configurable. off looks p nice on main page */
  border-left:  var(--line-width-vert) solid var(--line-color); /* should make configurable. off looks p nice on main page */
  border-right: var(--line-width-vert) solid var(--line-color); /* should make configurable. off looks p nice on main page */
  margin-top: var(--space-lg);
  padding-bottom: var(--footer-height-current);

  animation: fade-in 2.5s ease-in;
}
.main-content {
  position: relative;
  background: var(--gradient-bg-main);
  > section:first-of-type { /* top section: no upper border */
    border-top: 0;
  }
  > section:last-of-type { /* last section, no bottom border */
    margin-bottom: 0;
    z-index: 40;
  }
}

pre {
  // overflow: scroll;
  white-space: pre-wrap;
  background-color: var(--bg-1);
  color: var(--fg-2);
  padding: 1.25em;
  margin: 1.00em calc(-0.5 * var(--space));
  border-top: var(--line-width-sm) solid var(--line-color);
}

p > code { /* single-word vars etc */
  background-color: var(--bg-2);
  color: var(--fg-3);
  padding: 0.4em 0.3em;
}



section { /* one main section (img + header + piece of content) */
  max-width: 100%;
  flex: 1 1 auto;
  position: relative;
  justify-content: center;
  align-items: middle;
  padding:   var(--space-lg) var(--space-lg); /* for padding-less main: */
  border-top: var(--line-width) solid var(--line-color);
  
  h1 {
    text-align: center;

    &.h-responsive, &.h0-responsive {
      padding: var(--space) calc(0.5 * var(--space));
    }
  }
}


h1, h2, h3, h4, h5, h6 { font-weight: 600; } // slightly less than bold

section h1, article h1 { font-size: 2rem; } /* restore proper h1 from 1.5 bs */
.h0 { font-size: 2.5rem; }
.h0-responsive { font-size: calc(2.5rem + 8vw); } /* size based on viewport, with sensible min */
.h-responsive  { font-size: calc(1.5rem + 3vw); }
@supports(font-size: min(0px)) { /* can additionally set a maximum... */
  .h0-responsive { font-size: #{'min(6rem,   2.5rem + 8vw)'}; }
  .h-responsive {  font-size: #{'min(3.5rem, 1.5rem + 3vw)'}; }
}

h3::first-letter, // make more specific and original hardcore v for whatever links
span::first-letter,
p::first-letter {
  font-size: 1.10em;
  filter: brightness(110%);
}


.buttons {
  display: flex;
  justify-content: space-evenly;
}
button {
  --around: calc(0.4 * var(--space)) calc(0.4 * var(--space-lg));
  padding: var(--around);
  margin: var(--around);
  // background: hsla(var(--hue-1), 7%, var(--lum-bg-2), 0.35);
  background: transparent;
  color: var(--fg-2);
  border: var(--line-width-md) solid var(--line-color);
  border-radius: 0.15rem;
  position: relative;
  cursor: pointer;
  outline: 1px transparent;
  transition: outline-color 0.25s, transform 0.25s, text-shadow 0.25s;

  &:hover, &:focus {
    border-radius: 0;
    // outline: 1.0px solid;
    transition: outline-color 0.2s;
    text-shadow: 1px 0px 3px var(--fg-1);
  }
  &:active {
    i {
      transition: transform 0.2s;
      transform: rotateZ(90deg);
    }
  }
  &:not(:active) {
    i {
      transition: transform 1.0s;
      transform: none;
    }
  }

  label {
    position: relative;
    font-size: 1.2rem;
    z-index: 2;
    cursor: pointer;
  }
  i {
    font-size: 1.2em;
  }

  .btn-img {
    width: 1.5em;
    height: 1.5em;
  }
}

input {
  margin: 0 0.25em; /* just for checkboxes... */
}

video {
  height: auto;
}

textarea, input {
  &:focus {
    outline: 0;
    border: 2px solid var(--fg-3); // well should be outline instead no so stuff doesnt move?
  }
}
textarea, input, .form-control {
// textarea, .form-control {
  background: var(--bg-1);
  color: var(--fg-1);
  font-size: 1.2em;
  padding: 0.3em 0.5em;
  margin-bottom: 0.4em;
  border: 1px solid var(--bg-5);
}


* { //kill scrollbar. should rather mod it tho...
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 2px;
}
* { -ms-overflow-style: none; }
*::-webkit-scrollbar { width: 0; }
*::-webkit-scrollbar-track { background: transparent; }
*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}
