// @import url('https://fonts.googleapis.com/css?family=Open+Sans:500,600,700');
@import "burger.scss";
@import "peripheral.scss";
@import "header.scss";
@import "footer.scss";
@import "hero.scss";
@import "gallery.scss";
@import "mods.scss";
@import "hljs.scss";
@import "native-inputs.scss";
@import "blog.scss";
@import "user.scss";
@import "experiments.scss";
@import "components.scss";

/* wanted to put in own file but wasnt compatible with live reload solution... */
:root { /* general vars */
  /* SIZES */
  --space:             1.2rem;
  --space-lg:          2.0rem;
  --space-sides:       var(--space-lg); /* inner horizontal margin */
  --space-edges:       var(--space-sides); /* size of outer edges  */
  --space-top:         2rem; /* top margin above header */
  --media-width-main: calc(100vw - 2 * var(--space-edges) - 2 * var(--line-width)); /* would it be context dependent or just use root 100% i guess uh */
  --banner-height:     600px;
  --logo-ratio:        0.3710; /* lol, 41.25 actual ratio, 40.6 works on chrome desktop, 40.0 on safari ios... */ /* just use img... */ /* or make logo look like i want in first place - needs higher-res or vector bounce anyways. then suddenly had to change to 3710... */
  /* --header-height:     calc(3 * var(--space)); */
  --header-height:     4.5rem; /* beware can be 3 or 6 in practice.... temp bc reading arbitrary css vars with calc is fiddly */
  --header-with-menu-height: 18rem; /* not truly dynamic bc of annoying sticky */
  --header-height-current: var(--header-height); /* will then be changed by js dep on whether menu open... */
  --footer-height:     3.00rem; // measured...
  /* --link-offset:       calc(var(--space) + var(--header-with-menu-height)); */
  --link-offset:       calc( var(--header-with-menu-height));
  --menu-width-fraction: 0.70;

  --line-scale-factor: 0.5;
  --line-width:        2.0px; /* main design line/border width */ /* 0.125 normally 2px but nah ends up weird when font scales to like 1.67 and shize */
  --line-width-sm:     calc(1 / (1.5 + var(--line-scale-factor)) * var(--line-width)); /* main design line/border width */ /* 0.125 normally 2px but nah ends up weird when font scales to like 1.67 and shize */
  --line-width-md:     calc(((1 + var(--line-scale-factor)) / 2) * var(--line-width)); /* main design line/border width */ /* 0.125 normally 2px but nah ends up weird when font scales to like 1.67 and shize */
  --line-width-lg:     calc(1 / (1 + var(--line-scale-factor)) * var(--line-width)); /* main design line/border width */ /* 0.125 normally 2px but nah ends up weird when font scales to like 1.67 and shize */
  --line-width-vert:   2px; /* main design line/border width */ /* 0.125 normally 2px but nah ends up weird when font scales to like 1.67 and shize */
  --scale:             1.0; /* px line-width drifts when font scales so must compensate... better way? */
  
  --fiddle-multiplier: 1; /* was 3. works with line-width and header pixel dispair chrome+safari desktop. 2 would be the assumed correct tho... */
  --left-marker: calc(100% * ((1.0 - var(--menu-width-fraction)) / 2)
                      + 0.75 * var(--space) - 1 * (var(--fiddle-multiplier) * var(--line-width)));
  --right-marker: calc(100% - 1 * var(--left-marker) - 2 * var(--line-width)); /* makes sense right side needs one more unit since it has the right border... */
  --top-to-menu-height: calc(2 * var(--space-top) + 2em - 5 * var(--line-width));
  
  --header-expand-time:  0.2s;
  --navigation-transition-time: 0.20s;


  --perspective:       100;
  --parallax:          50;
  --parallax-scale:    calc(1 + (var(--parallax) / var(--perspective)));
  --parallax-px:       calc(-1px * var(--parallax));
  
  --parallax-sm:       calc(0.50 * var(--parallax));
  --parallax-sm-scale: calc(1 + (var(--parallax-sm) / var(--perspective)));
  --parallax-sm-px:    calc(-1px * var(--parallax-sm));
  --parallax-squeeze-scale: calc(1 + (1 / var(--perspective) * var(--perspective)));
  --parallax-squeeze-px:    calc(-1px * var(--perspective));
  --parallax-squeeze-tf:    -1570%; /* fuck knows why */


  /* COLORS */
  --hue-1:             180; 
  --hue-2:               8;
  --hue-3:             192;
  --lum-dark-1:         8%;
  --lum-dark-2:        12%;
  --lum-dark-3:        15%;
  --lum-dark-4:        18%;
  --lum-dark-5:        26%;
  --lum-dark-6:        34%;
  --lum-light-1:       calc(100% - var(--lum-dark-1));
  --lum-light-2:       calc(100% - var(--lum-dark-2));
  --lum-light-3:       calc(100% - var(--lum-dark-3));
  --lum-light-4:       calc(100% - var(--lum-dark-4));
  --lum-light-5:       calc(100% - var(--lum-dark-5));
  --lum-light-6:       calc(100% - var(--lum-dark-6));

  --light-1:           hsl(var(--hue-2), 20%, var(--lum-light-2));
  --light-2:           hsl(var(--hue-2), 7%, var(--lum-light-1));
  --light-text:        hsl(29, 35%, 86%);
  --light-3:           #ededed;
  --light-4:           hsl(var(--hue-2), 7%, var(--lum-light-4));
  --light-5:           hsl(var(--hue-2), 7%, var(--lum-light-5));
  --light-6:           hsl(var(--hue-2), 7%, var(--lum-light-6));


  --nav-accent: hsla(var(--hue-3), 40%, 20%, 0.35);
  --selection-accent: hsl(14, 75%, 80%, 0.7);
  --neutral-accent: #99aaee; /* link? */
  /* fixc bruv/box */
  --red       : #d18479;
  --red-2     : #af7370;
  --red-3     : #ea9a98;
  --green     : #b4b88d;
  --green-2   : #8b8c63;
  --green-3   : #ccdaa8;
  --yellow    : #dabd7a;
  --yellow-2  : #d0af80;
  --yellow-3  : #d9c894;
  --blue      : #7692ab;
  --blue-2    : #80a0b3;
  --blue-3    : #a6c0cd;
  --purple    : #bd979d;
  --purple-2  : #af8589;
  --purple-3  : #d9b7b7;
  --aqua      : #91b8a4;
  --aqua-2    : #9ab499;
  --aqua-3    : #B6D1B4;
  --orange    : #cca687;
  --orange-2  : #dba184;
  --orange-3  : #d9a58a;
  
  --dark-1:     hsl(var(--hue-1),  7%,  var(--lum-dark-1));
  --dark-2:     hsl(var(--hue-3),  7%,  var(--lum-dark-2));
  --dark-3:     #232323;
  --dark-4:     hsl(var(--hue-2),  7%,  var(--lum-dark-4));
  --dark-5:     hsl(var(--hue-2),  7%,  var(--lum-dark-5));
  --dark-6:     hsl(var(--hue-3),  7%,  var(--lum-dark-6));

  --opacity-regular:  0.35;
  --opacity-faint:    0.15;
  --box-regular-color:    hsla(0, 0%, var(--lum-dark-1), var(--opacity-regular));
  --box-faint-color:      hsla(0, 0%, var(--lum-dark-1), var(--opacity-faint));
  --box-regular-color-flip:    hsla(0, 0%, var(--lum-light-1), var(--opacity-regular));
  --box-faint-color-flip:      hsla(0, 0%, var(--lum-light-1), var(--opacity-faint));

  // will need drastic tweaking for light theme
  --gradient-bg-main: linear-gradient(-77deg,
                                      hsl(280, 15%, 8%),
                                      var(--bg-1))
                                      ;
  // --gradient-bg-main: linear-gradient(-77deg,
  //                                     hsl(280, 20%, var(--lum-bg-1)),
  //                                     hsl(100, 11%, var(--lum-bg-1)));
  --user-box-bg:      linear-gradient(hsla(240deg 20% var(--lum-bg-3) / 75%) 0%,
                                      hsla(240deg 38% var(--lum-bg-3) / 90%) 100%);

  --user-box-shadow:     hsla(240deg 33% var(--lum-bg-4) / 30%);
  --user-avatar-shadow:  hsla(240deg 100% var(--lum-fg-1) / 50%);

}

// use dark by default
// @media (prefers-color-scheme: dark) {
:root[color-mode="light"] {
  // should use some sass trick for this tho...
  --fg-1:       var(--dark-1);
  --fg-2:       var(--dark-2);
  --fg-3:       var(--dark-3);
  --fg-4:       var(--dark-4);
  --fg-5:       var(--dark-5);
  --fg-6:       var(--dark-6);
  --lum-fg-1:   var(--lum-dark-1);
  --lum-fg-2:   var(--lum-dark-2);
  --lum-fg-3:   var(--lum-dark-3);
  --lum-fg-4:   var(--lum-dark-4);
  --lum-fg-5:   var(--lum-dark-5);
  --lum-fg-6:   var(--lum-dark-6);
  --bg-1:       var(--light-1);
  --bg-2:       var(--light-text);
  --bg-3:       var(--light-3);
  --bg-4:       var(--light-4);
  --bg-5:       var(--light-5);
  --bg-6:       var(--light-6);
  --lum-bg-1:   var(--lum-light-1);
  --lum-bg-2:   var(--lum-light-2);
  --lum-bg-3:   var(--lum-light-3);
  --lum-bg-4:   var(--lum-light-4);
  --lum-bg-5:   var(--lum-light-5);
  --lum-bg-6:   var(--lum-light-6);
}

:root { /* we run dark by default */
    --fg-1:     var(--light-1);
    --fg-2:     var(--light-2);
    --fg-3:     var(--light-3);
    --fg-4:     var(--light-4);
    --fg-5:     var(--light-5);
    --fg-6:     var(--light-6);
    --lum-fg-1: var(--lum-light-1);
    --lum-fg-2: var(--lum-light-2);
    --lum-fg-3: var(--lum-light-3);
    --lum-fg-4: var(--lum-light-4);
    --lum-fg-5: var(--lum-light-5);
    --lum-fg-6: var(--lum-light-6);
    --bg-1:     var(--dark-1);
    --bg-2:     var(--dark-2);
    --bg-3:     var(--dark-3);;
    --bg-4:     var(--dark-4);
    --bg-5:     var(--dark-5);
    --bg-6:     var(--dark-6);;
    --lum-bg-1: var(--lum-dark-1);
    --lum-bg-2: var(--lum-dark-2);
    --lum-bg-3: var(--lum-dark-3);
    --lum-bg-4: var(--lum-dark-4);
    --lum-bg-5: var(--lum-dark-5);
    --lum-bg-6: var(--lum-dark-6);
    --box-regular-color-flip: hsla(0, 0%, var(--lum-light-1), var(--opacity-regular));
    --box-faint-color-flip:   hsla(0, 0%, var(--lum-light-1), var(--opacity-faint));
  }
  #logo-top { /* invert then rotate hue to restore blue text */
    filter: #{'invert() hue-rotate(180deg)'};
  }
  
.always-dark { // content with dark non --bg-n background, so use light text

}

@media screen and (min-width: 800px) and (min-height: 800px) {
  :root {
    --space: 1.5rem;
    --space-lg: 2.25rem;
  }
}
@media screen and (min-width: 1000px) {
  .line { /* i guess x overflow only important on ios, so we hype here */
    width: 200%; /* extend out like damn */
  }
  :root {
    // --space-edges: 10vw;
    --space-edges: 10vw;
    --space-sides: 10vw;
    font-size: 1.10rem;
  }
}
@media screen and (max-width: 600px),
       screen and (max-height: 600px) {
  :root {
    --space: 1.0rem;
    --space-lg: 1.5rem;
    --space-sides: var(--space); /* remember -sides based on the smaller num for mobile (since margins are more precious) */
    --space-edges: 0.8rem; /* perfectly makes room for macos scrollbar */

    --scale: 0.9;
    font-size: 0.90rem;
  }
}
@media not all and (min-resolution:.001dpcm), /* is safari */
       (prefers-reduced-motion: reduce) {     /* wants no parallax */
  :root {
    --perspective: 1; /* just to be sure */
    --parallax:    0;
    --parallax-squeeze-tf: 100%; /* fuck knows why */
  }
}
@media not all and (min-resolution:.001dpcm) { /* is safari */
  :root {
    // --logo-ratio:        0.40; /* lol, 41.25 actual ratio, 40.6 works on chrome desktop, 40.0 on safari ios... */ /* just use img... */ /* or make logo look like i want in first place - needs higher-res or vector bounce anyways */
  }
}
@supports (-webkit-overflow-scrolling: touch) { /* iOS devices */
  body { /* prevent insane bumping of p font size in landscape and more */
    text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3) {
  :root { /* *im thinking this is what it's about. 3 vs 2 pixels per pixel */
    --fiddle-multiplier: 1; /* makes iphone x line up with current formulas/offsets */
  }
}
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) {
  /* iphone x */
} @media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
  /* iphone 6-8. i mean not really tho could be loads?? */
} @media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
  /* 6-8 plus */
}

@media screen and (max-width: 500px) {
  :root {
    font-size: 0.80rem;
    --space: 0.6rem;
    --space-lg: 0.9rem;
  }
}
@media screen and (max-width: 400px) {
  :root {
    font-size: 0.72rem;
    --space-sides: calc(0.5 * var(--space)); /* remember -sides based on the smaller num for mobile (since margins are more precious) */
    --space-edges: calc(0.5 * var(--space));
  }
  #top-banner { /* need a better solution for ensuring doesnt overflow... like a tallet image? */
    padding-top: 0;
  }
}
@media screen and (max-width: 319px) {
  :root { // these settings work down til about 260 then footer doubles up. Also get issues with heading image bleeding out on right hmm.
    font-size: 0.67rem;
    --space-edges: calc(0.1 * var(--space));
    --line-width-vert: 0;
  }
}



* {
  box-sizing: border-box; // include border in elem sizing
  margin:  0;
  padding: 0;
}

:target {
  /* pseudo-el representing a target (link, id/el)... */
  /* does not appear to do the trick tho. wait isnt it :: or hmm nope would be if was like *::target? */
  /* html, body does seem to semi-work so whatever */
  scroll-padding-top: var(--header-height-current);
} /* header-height or header-with-menu-height... */
/* doesnt seem to work though, try putting in html, body... */

html, body {
  /* scroll-margin-block-start: calc(1em + var(--header-height-current)); */
  scroll-padding-top: var(--header-height-current);
  /* scroll-padding-top: calc(1em + var(--header-with-menu-height)); */
}
html {
  height: 100%;
  overflow-x: hidden; /* gotta be on both or doesnt work on iphone hmm */
  scroll-behavior: smooth; /* makes in-page links scroll to target beautifully in chrome */
  /* overscroll-behavior-y: none; /1* actually works in chrome, stops from overscroll. BUT makes scrolling and esp sticky jittery it seems? *1/ */
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--fg-1);
  background-color: var(--bg-1);
  width: calc(100% - 2 * var(--space-edges));
  margin: auto;

  /* no overflow hidden on body = iphone can scroll sideways. on body works but sticky header breaks */
  /* -webkit-overflow-x: hidden; nope... no work */
  /* overflow-x: hidden; /1* gotta be on both or doesnt work on iphone hmm *1/ */
  /* -webkit-overflow-scrolling: touch; */
}


li {
  list-style: none;
}

a {
  color: var(--fg-2);
  text-decoration: none;
  
  &:focus, &:hover, &:active {
    transform: scale(1.10);
    filter: brightness(125%) drop-shadow(0.2rem 0.2rem 0.1rem var(--bg-1));
  }
}

main { /* dunno purpose of why I choose .main-content... */
  width: 100%;
  
  border-top: var(--line-width) solid; /* should make configurable. off looks p nice on main page */
  border-bottom: var(--line-width) solid; /* should make configurable. off looks p nice on main page */
  border-left:  var(--line-width-vert) solid; /* should make configurable. off looks p nice on main page */
  border-right: var(--line-width-vert) solid; /* should make configurable. off looks p nice on main page */
  margin-top: var(--space-lg);
  // padding-bottom: calc(3.5 * var(--space-lg)); /* XXX actually, footer height... */
  padding-bottom: calc(3.1 * var(--space)); /* XXX actually, footer height... */

  animation: fade-in 2.5s ease-in;
}

.main-content {
  position: relative;
  background: var(--gradient-bg-main);
}
pre {
  // overflow: scroll;
  /* max-height: 6em; */
  white-space: pre-wrap;
  background-color: var(--bg-1);
  color: var(--fg-2);
  padding: 1.25em;
  margin: 1.00em calc(-0.5 * var(--space));
  border-top: var(--line-width-sm) solid;
}


p > code { /* single-word vars etc */
  background-color: var(--bg-2);
  color: var(--fg-3);
  padding: 0.4em 0.3em;
}
/* DOCS SECTION */
section.docs a {
  color: var(--blue-2);
  font-style: italic;
}
section.docs p.title {
  border-top: var(--line-width-sm) solid currentColor;
  /* background-color: var(--bg-2); */
  background: linear-gradient(to right, var(--bg-2) 85%, var(--bg-1));
  margin: 1.7em 0.5em 1em;
  font-size: 1.4em;
  font-weight: 600;
  width: 50%;
}
section.docs .bs-callout {
  margin-top: 2rem;
  padding: var(--space);
  background-color: var(--bg-2);
}
section.docs .bs-callout h4 {
  font-size: 1.1em;
  margin-bottom: 0.75em;
}



section { /* one main section (img + header + piece of content) */
  max-width: 100%;
  flex: 1 1 auto;
  position: relative;
  justify-content: center;
  align-items: middle;
  padding:   var(--space-lg) var(--space-lg); /* for padding-less main: */
  border-top: var(--line-width) solid;
}
section > h1, .jumbo > h1 {
  text-align: center;
  padding-bottom: var(--space);
  padding-top:    var(--space);
}
.main-content > section:first-of-type { /* top section: no upper border */
  border-top: 0;
}
.main-content > section:last-of-type { /* last section, no bottom border */
  margin-bottom: 0;
  // padding-bottom: calc(3.5 * var(--space-lg)); /* XXX actually, footer height... */
  // fucks up gallery when that's last...
  z-index: 30;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

section h1, article h1 { font-size: 2rem; } /* restore proper h1 from 1.5 bs */
.h0 { font-size: 2.5rem; }
.h0-responsive { font-size: calc(2.5rem + 8vw); } /* size based on viewport, with sensible min */
.h-responsive  { font-size: calc(1.5rem + 3vw); }
@supports(font-size: min(0px)) { /* can additionally set a maximum... */
  .h0-responsive { font-size: #{'min(6rem,   2.5rem + 8vw)'}; }
  .h-responsive {  font-size: #{'min(3.5rem, 1.5rem + 3vw)'}; }
}

// make more specific and original hardcore v for whatever links
// span::first-letter {
//   font-size: 1.3em;
//   font-weight: bold;
//   filter: brightness(115%);
// }

.buttons {
  display: flex;
  justify-content: space-evenly;
}
button {
  --around: calc(0.4 * var(--space)) calc(0.4 * var(--space-lg));
  padding: var(--around);
  margin: var(--around);
  // background: hsla(var(--hue-1), 7%, var(--lum-bg-2), 0.35);
  background: transparent;
  color: var(--fg-2);
  border: var(--line-width-md) solid;
  border-radius: 0.15rem;
  position: relative;
  cursor: pointer;
  outline: 1px transparent;
  transition: outline-color 0.25s, transform 0.25s, text-shadow 0.25s;

  &:hover, &:active {
    border-radius: 0;
    // outline: 1.0px solid;
    transition: outline-color 0.2s;
    text-shadow: 1px 0px 3px var(--fg-1);
  }

  label {
    position: relative;
    font-size: 1.2rem;
    z-index: 2;
    cursor: pointer;
  }
}
button:hover .blur-bg, button:active .blur-bg,
.blur-bg:hover, .blur-bg:active {
  opacity: 0.8;
}

input {
  margin: 0 0.25em; /* just for checkboxes... */
}

video {
  height: auto;
}


textarea, input, button {
  &:focus {
    outline: 0;
    border: 1px solid var(--fg-6);
  }
}
// textarea, input, .form-control {
textarea, .form-control {
  background: var(--bg-1);
  color: var(--fg-1);
  font-size: 1.2em;
  padding: 0.3em 0.5em;
  margin-bottom: 0.4em;
  border: 1px solid var(--bg-5);
}



#loading-full-page {
  padding: 5rem;
}

#section-services {
  z-index: 6;

  .media-as-bg {
    transition: transform 9.5s ease;
  }
}
#services {
  // color: var(--light-1); // dark bg so white text always
  position: sticky;
  z-index: 12;
  top: 0;
  margin-bottom: var(--space-lg);
}

#intro {
  position: relative;
  max-height: var(--media-width-main);
  p {
    padding: 0 var(--space-lg);
  }
}
#moneyshot {
  border-top: var(--line-width) solid;
}
#intro-end { /* lbp pic "YOU" */
  height: #{'min(70vh, 100vw - 2 * var(--space-edges))'};
  border-top: 0;
}
#interlude-2 {
  z-index: 7;
}
#interlude-3 { /* portfolio */
  z-index: 29;
}
#portfolio { /* portfolio */
  z-index: 30;
}

#about-intro {
  --height: calc(6 * var(--space-lg));
  max-height: var(--height);
  z-index: 13;
  top: var(--header-height-current);
  /* transform-origin: 50% -1570%; /1* figure out genericable bs lol *1/ */
}
#about-story {
  position: relative;
  z-index: 14;
}
#headshot {
  width: 20%;
  max-width: 150px;
}
#byline > img {
  border-radius: 0.5em;
  border: 1px solid;
}
#multimeter {
  width: 30%;
  min-width: 150px;
  max-width: 300px;
}

#building-tools {
  z-index: 29;
}

h3::first-letter { /* nice looking fancy. why isnt applying within category?? */
  font-size: 120%;
  filter: brightness(110%);
}


#categories { /* List of services offered */
  display: grid; /* fuck with this */
  grid-template-columns: repeat(2, 37%);
  justify-content: space-evenly;
  align-content: bottom;
  text-align: center;
  flex-wrap: wrap;
}

#categories ul {
  flex: 0 1 auto;
  margin:  calc(0.5 * var(--space));
  padding: calc(1.0 * var(--space));
  
  text-align: left;
  font-size: 1.1rem;
  backdrop-filter: blur(3.0px);
  background: hsla(var(--hue-3), 70%, var(--lum-fg-6), 0.10);
  transition: backdrop-filter 0.1s, background 0.5s, border-radius 0.5s, transform 0.3s;
  box-shadow: 1px -0px 17px 5px hsla(var(--hue-1), 20%, var(--lum-fg-6), 0.15);
  
  border-radius: 1.50rem;
  backdrop-filter: blur(1.0rem);
  &:hover {
    border-radius: 0.75rem;
    backdrop-filter: blur(0.6rem);
    background: hsla(var(--hue-3), 60%, var(--lum-fg-5), 0.25);
    filter: brightness(1.1);
    // transform: scale(1.15);
    // transform: translateZ(20deg);
  }
    
  > * {
    margin: 0.1em 0.1em 0.1em;
  }
  li {
    font-size: 0.80em;
    text-align: left;
    
    &:first-of-type  {
      white-space: nowrap;
      margin-bottom: calc(0.5 * var(--space));

      ~ li { /* suddenly started making the icons... weird inner shadow. so skip the header. */
        text-shadow: 1px 1px 2px var(--bg-1);
      }
    }
  }
  i {
    font-size: 1.4em;
    background: linear-gradient(-30deg, hsla(20, 35%, 70%, 0.80), var(--fg-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h3 {
    display: inline;
    position: relative;
    margin-left: 0.4em;
    
    &:after { /* shitty underline didnt end up too hot hmm */
      content: "";
      height: 2.5px;
      background: linear-gradient(to right, hsla(8, 30%, 78%, 0.7), var(--fg-2) 130%);
      width: 98%;
      transform: skew(-30deg);
      position: absolute;
      bottom: -1px;
      left: -2px;
      z-index: -1;
    }
  }
}
@media screen and (max-width: 400px) {
  #categories ul {
    /* min-width: 45%; /1* ensure no awkward two on one row, one on rest... not exactly universal solution tho :/ *1/ */
    /* /1* oh and doesnt work for like if font small enough that two fit nicely gah *1/ /1* easy enough with js tho.. *1/ */
    /* /1* max-width: 100%; *1/ */
    /* max-width: 55%; */
  }
}
@media screen and (min-width: 500px) {
  #categories ul {
    font-size: calc(1.0rem + 0.5vw);
  }
}
@media screen and (min-width: 800px) {
  #categories ul {
    font-size: calc(1.1rem + 0.3vw);
  }
}


/* corrections which need to go after everything else */
@media not all and (min-resolution:.001dpcm) { /* is safari */
  .stick-up { /* safari is being way irresponsible drawing img sticky layers.. and general compositing/z-index */
    position: relative;
    top: initial;
  }
  .parallax-bg {
    transform: initial; // safari doesnt want the y -60% adjustment, initial since cant use parallax anyways
  }
}
@media all and (orientation: landscape) { // hide away header and footer on mobile landscape (...many additional fixes needed)
  header {
    position: relative !important;
  }
  .line-header {
    position: relative !important;
    top: 0 !important;
  }
  .footer-sticky {
    position: relative !important;
    left: 0 !important;
    width: 100% !important;
  }
}
