
.search-instant-results {

  .search-instant-result {
    border-left: var(--line-width-vert) solid var(--line-color);
    padding-left: calc(0.66 * var(--space));
    margin-bottom: var(--space-lg);

    &:first-of-type {
      padding-top: var(--space);
    }
  }
}
