.search-ui {
  position: relative;
  padding: 0;
  border: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;

  &.search-ui-open {
    transition: max-height 1.8s ease;
    max-height: 80vh;
    overflow: initial;
  }
}



.search-autocomplete {
  transition: max-height 0.5s ease;
  max-height: 0;
  overflow: hidden;
  font-family: 'Fira Code', monospace;

  &.search-autocomplete-open {
    background-color: var(--bg-2);
    max-height: 30rem;
    overflow: initial;

  }

  .search-autocomplete-item {
    padding: 0.4em 0.8em;
    border-bottom: 0.5px solid var(--bg-4);
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--bg-3);
    }
  }

}

.search-instant-results {
  max-height: 50vh;
  overflow-y: scroll;
  z-index: 0;
  background-color: var(--bg-2);
  border: var(--line-width) solid var(--line-color);

  .blog {
    background: var(--bg-2);
  }

  .search-instant-result {
    border-bottom: none;
    // margin-bottom: var(--space);
    margin-bottom: 0;

    &:first-of-type {
      &.blog-post {
      }
    }
    
    &.blog-post {
      background: var(--gradient-bg-main);
      border-left: var(--line-width-vert) solid var(--line-color);
      
      padding-left: calc(1.00 * var(--space-lg));
      padding-top: var(--space-lg);

      &:last-of-type {
        padding-bottom: var(--space-lg);
      }

      pre {
        margin: var(--space);
      }
    }
  }

  .blog-comments {
    margin: 0;
    border-radius: 0;
    padding: 0;

    > div {
      margin: 1em;

    }
    .blog-comment {
      margin: 1em;
    }
  }
}
