
// @mixin strava-bg {
//     background: linear-gradient(0deg,
//                                 rgba(135, 48, 1, 0.5),
//                                 rgba(145, 58, 3, 0.7));
//     border: var(--line-width-sm) solid #fc4c02;
//     box-shadow: 3px 3px 15px 10px inset rgba(252, 76, 2, 0.1);
// }

.strava {
  --activity-details-height: 23em;

  .strava-profile-image {
    width: calc(8 * var(--space));
    height: calc(8 * var(--space));
    margin-right: var(--space-lg);
  }
  .strava-profile {
    margin: var(--space-lg);

    .strava-story { // story
      margin-left: calc(1 * var(--space-lg));
      font-size: 90%;
      max-width: 50%;
    }
  }

  .strava-athlete {
    
  }

  > h1 {
    margin: calc(var(--space));
  }

  div {
    // margin: 0.20em;
    // margin-left: var(--space);
  }
  .strava-stats {
    font-size: 90%;
    padding: var(--space);
    background: linear-gradient(0deg,
                                rgba(135, 48, 1, 0.5),
                                rgba(145, 58, 3, 0.7));
    border: var(--line-width-sm) solid #fc4c02;
    box-shadow: 3px 3px 15px 10px inset rgba(252, 76, 2, 0.1);

    > div:first-of-type { // description col
      margin-right: calc(3.5 * var(--space));
      color: var(--fg-5);
    }
    div, h3 {
      margin: 0.25rem;
      margin-right: 1em;
    }
    h3 {
      font-weight: bolder;
    }
    span {
      color: var(--fg-5);
    }
    // > div:last-of-type { // change col
    //   background: none;
    //   margin-left: -2em;
    //   > div:first-of-type { // arrows. ugly should be part of col3...
    //     margin-top: 7.0em;
    //   }
    // }
    
  }

  .strava-activities {

    margin: calc(1.5 * var(--space-lg));
    margin-bottom: 0;

    .strava-activity {
      .strava-activity-dot {
        position: absolute;
        color: transparent;
        background: #fc4c02;
        border-radius: 100%;
        box-shadow: 0px 0px 3px 3px rgba(252, 76, 2, 0.4);
        transition: all 0.6s ease, color 1.5s;
        cursor: pointer;

        &:hover {
          filter:  brightness(120%);
        }

        .strava-activity-top-bg {
          position: absolute;
          // background: rgba(252, 76, 2, 0.4);
          background: linear-gradient(0deg,
                                      rgba(252, 76, 2, 0.0),
                                      rgba(52, 76, 2, 0.25) 25%,
                                      rgba(52, 76, 2, 0.5));
          width: 100%;
          height: 5.5rem;
          z-index: -1;
        }

        .strava-activity-full {
          position: relative;
          padding: var(--space);
          overflow: hidden;

          .strava-activity-full-inner {
            overflow: scroll;
            height: var(--activity-details-height);
          }

          .strava-activity-stats {
            margin-top: calc(0.5 * var(--space));
            justify-content: space-between;

            span {
              color: var(--fg-5);
            }
          }

          // > div > div > div:first-of-type { // description col
          .strava-activity-stats-descriptions { // description col
            margin-right: calc(2 * var(--space-lg));
          }

          .strava-activity-photo {
            max-width: 30%;
            margin-left: var(--space);

            img {
              border: var(--line-width-sm) solid #fc4c02;
            }
          }

          button {
            margin: 0.0em;
            padding: 0.2em 0.3em;
            border: var(--line-width-sm) solid rgba(252, 76, 2, 0.5);
            
          }

          .strava-activity-graphs {
            overflow: scroll;

            .strava-activity-graph {
              canvas {
                height: 6em;
                width: 100%;
              }
            }
          }

          .strava-activity-gear {
            color: var(--fg-4);
            font-size: 90%;
          }
        }
      }

      .strava-activity-dot-expanded {
        left: 0; bottom: 0;
        width: 100%; height: 100%;
        z-index: 10;
        color: var(--fg-2);
        background: linear-gradient(0deg,
                    rgba(135, 48, 1, 0.7),
                    rgba(145, 58, 3, 0.8));
        border: var(--line-width-sm) solid #fc4c02;
        box-shadow: 3px 3px 15px 10px inset rgba(252, 76, 2, 0.1);
        border-radius: 0;
        cursor: initial;
      }

      .strava-activity-summary {
        z-index: 200;
        position: absolute;
        bottom: 0;
        padding: var(--space);
        margin: calc(-2.5 * var(--space-lg));
        margin-bottom: calc(-1 * var(--space-lg));
        width: 125%;
        background: linear-gradient(0deg,
                                    rgba(135, 48, 1, 0.2),
                                    rgba(145, 58, 3, 0.3));
        box-shadow: 3px 3px 15px 10px inset rgba(252, 76, 2, 0.05);

        span {
          // margin-right: var(--space);
          margin-right: 1.2em;
        }
      }
    }

    .strava-activity-map {
      position: relative;
      top: 5%;
      left: 5%;
      height: 90%;
      width: 90%;

      .strava-activity-map-point {
        position: absolute;
        height: 3px;
        width: 4px;
        background: rgba(246, 255, 245, 0.3);
      }

      .leaflet-container {
        border: var(--line-width-sm) solid #fc4c02;
        margin-top: 0.5em;
        margin-left: -3em;
        // margin-left: calc(0 - var(--space-lg));
        width: 119%;
        height: 21.0em;
        filter: invert(0.95) hue-rotate(170deg);
      }
    }
  }
}

.strava-activity-splits {
  position: relative;
  width: 100%;
  height: 85%;
  margin-top: calc(1 * var(--space-lg));
  font-size: 70%;
  margin-left: 0.2em;
  margin-right: 0.4em;

  .strava-activity-split {
    position: absolute;
    color: var(--fg-1);
    padding: 0.5em;
    // height: 2em;
    // width: 2em;
  }
  .strava-activity-split-legend {
    position: absolute;
    text-align: center;
  }
  > .scroll-reminder { // scroll reminder
    position: absolute;
    right: 1%;
    bottom: 10%;
  }

  .strava-activity-split-details {
    position: absolute;
    font-size: 120%;
  }
}

.strava-activity-kudos {
  position: relative;

  .strava-kudo-dot {
    width: 1.25em; height: 1em;
    margin-right: -0.55em;
  }

  .strava-kudos-popup {
    position: absolute;
    top: 0;
    right: 0;

    animation: fade-in 0.5s;

    // background: rgba(126, 38, 1, 0.95);
    // border: 1px solid #fc4c02;

    // padding: 0.5em 0.75em;
  }
}

.strava-popup {
  position: absolute;
  z-index: 2;
  padding: 0.5em !important;
  background: linear-gradient(rgba(30, 30, 30, 0.85), rgba(100, 40, 1, 0.85)) !important;
  backdrop-filter: blur(0.25rem);
}

.strava-award {
  font-size: 110%;
  color: rgba(247, 177, 20, 0.6);
  margin-right: 0.1em;
  background: -webkit-linear-gradient(rgba(247, 177, 20, 0.8), rgba(247, 177, 20, 0.3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.strava-activity-graph-legend {
  font-size: 80%;
  position: absolute;
}
