
// @mixin strava-bg {
//     background: linear-gradient(0deg,
//                                 rgba(135, 48, 1, 0.5),
//                                 rgba(145, 58, 3, 0.7));
//     border: var(--line-width-sm) solid #fc4c02;
//     box-shadow: 3px 3px 15px 10px inset rgba(252, 76, 2, 0.1);
// }

.strava {
  --activity-details-height: 24em;
  --strava-color: hsl(18, 98%, 50%);
  --strava-color-muted: hsl(18, 48%, 50%);
  --strava-color-alpha: hsla(18, 58%, 50%, 0.5);
  
  color: var(--light-3); // dark background so cant have fg as color, only light

  .strava-profile-image {
    width: 8em;
    height: 8em;
    margin-right: var(--space-lg);
  }
  .strava-profile {
    margin: var(--space-lg) 0;

    .strava-story {
      margin-left: calc(1 * var(--space));
      font-size: 85%;
      max-width: 50%;
    }
  }

  .strava-athlete {
    div:first-of-type {
      font-size: 0.8em;
    }
    div:last-of-type {
      font-size: 0.7em;
    }
  }

  > h1 {
    margin: calc(var(--space));
  }

  span {
    color: var(--light-5);
  }
  
  .strava-stats {
    font-size: 90%;
    padding: var(--space);
    background: linear-gradient(0deg,
                                rgba(135, 48, 1, 0.5),
                                rgba(145, 58, 3, 0.7));
    border: var(--line-width-sm) solid #fc4c02;
    box-shadow: 3px 3px 15px 10px inset rgba(252, 76, 2, 0.1);
    
    max-height: 100vh;
    transition: all 0.8s ease;
    overflow: hidden;

    &.stats-minimized {
      height: 0.0em;
      padding: 0;
      margin: 0;
      border: 0;
      transition: all 0.8s ease;
    }

    > .strava-stats-legend {
      margin-left: 0;
      margin-right: calc(2.0 * var(--space));
      color: var(--light-5);

      h3 {
        margin: 0;
        margin-left: calc(0.5 * var(--space));
      }
    }
    div, h3 {
      margin: 0.2rem;
      margin-left: calc(0.5 * var(--space));
      margin-right: calc(0.5 * var(--space));
    }
    h3 {
      font-weight: bolder;
    }

    #strava-general-stats-carousel {
      .carousel-idx {
        display: none;
      }
      .carousel-prev-btn {
        left: 0;
      }
      .carousel-next-btn {
        right: 0;
      }
    }
    
  }

  .strava-activities {

    margin-top: calc(1.0 * var(--space));
    margin-bottom: 0;
    height: calc(2rem + var(--activity-details-height));

    .strava-activity {
      .strava-activity-dot {
        position: absolute;
        background: radial-gradient(#fc4c02, rgba(252, 125, 25, 0.8));
        border-radius: 100%;
        box-shadow: 0px 0px 3px 3px rgba(252, 76, 2, 0.4);
        transition: all 0.8s ease, color 1.5s;
        cursor: pointer;

        &:hover {
          filter:  brightness(140%);
          transform: scale(1.2);
        }

        .strava-activity-top-bg {
          position: absolute;
          background: linear-gradient(0deg,
                                      rgba(252, 76, 2, 0.0),
                                      rgba(52, 76, 2, 0.25) 25%,
                                      rgba(52, 76, 2, 0.5));
          width: 100%;
          height: 5.5rem;
          z-index: -1;
        }

        .strava-activity-full {
          position: relative;
          padding: 0; // no padding on sides, individual tabs can have as needed.
          padding-top: var(--space);
          padding-bottom: 0; // actually want inner div padding gone but it's there despite being 0???
          overflow: hidden;
          
          color: var(--light-2);

          h3 {
            padding-right: var(--space-lg);
          }

          .strava-activity-full-inner {
            position: relative;
            overflow: scroll;
            height: var(--activity-details-height);
            
            padding: calc(1.0 * var(--space));
            padding-bottom: 0;
            margin-bottom: calc(0px - var(--space)); // dont get why when padding 0 for bottom but...
          }

          .strava-activity-stats {
            margin-top: calc(1.0 * var(--space));
            justify-content: space-between;

            span {
              color: var(--light-5);
            }
          }

          .strava-activity-stats-descriptions { // description col
            padding-left: 0.33em;
            padding-right: calc(1.0 * var(--space-lg));
            color: var(--light-5);
          }
          .strava-activity-stats-numbers { // numbers col
            padding-left: calc(1.00 * var(--space-lg));
            p:first-letter {
              font-size: 100%;
              filter: none;
            }
          }

          .strava-activity-photo {
            max-width: 30%;
            margin-left: var(--space);

            img {
              border: var(--line-width-sm) solid #fc4c02;
            }
          }

          button {
            margin: 0.0em;
            padding: 0.2em 0.3em;
            border: var(--line-width-sm) solid rgba(252, 76, 2, 0.5);
            
            color: var(--light-2);
          }

          h3 {
            padding-left: var(--space);
          }

          .strava-activity-graphs {
            overflow: scroll;

            .strava-activity-graph {
              .strava-activity-graph-inner {
                position: relative;
              }
              .strava-activity-graph-legend {
                font-size: 75%;
                position: absolute;
                pointer-events: none;
              }
              canvas {
                height: 6em;
                width: 100%;
              }
            }
          }

          .strava-activity-laps {
            display: flex;
            justify-content: space-between;
            
            .strava-activity-lap {
              flex: 1 0 auto;
              margin-right: var(--space);
              // margin-bottom: 0.5em;
            }
          }

          .strava-activity-gear {
            position: absolute;
            bottom: var(--space);
            color: var(--light-4);
            font-size: 90%;

            span {
              margin-right: 0.4em;
              &:first-of-type {
                color: var(--light-2);
              }
            }

            .strava-activity-gear-popup {
              p {
                padding: 0.4em;

                &:last-of-type {
                  position: absolute;
                  bottom: 0;
                  background-color: var(--strava-color-alpha);
                  color: var(--fg-1);
                  font-size: 90%;

                }
              }
              
              &.strava-popup {
                padding: 0;
                opacity: 0;
                left: 10%;
                font-size: 90%;
                width: 200%;
              }
            }
          }
        }
      }

      .strava-activity-dot-expanded {
        left: 0; bottom: 0;
        width: 100%;
        z-index: 10;
        color: var(--light-2);
        background: linear-gradient(0deg,
                    rgba(135, 48, 1, 0.7),
                    rgba(145, 58, 3, 0.8));
        border: var(--line-width-sm) solid #fc4c02;
        box-shadow: 3px 3px 15px 10px inset rgba(252, 76, 2, 0.1);
        border-radius: 0;
        cursor: initial;

        &:hover {
          filter: initial;
          transform: initial;
        }
      }

      .strava-activity-summary {
        z-index: 200;
        position: absolute;
        bottom: 0;
        padding: var(--space);
        margin: calc(-1.5 * var(--space-lg));
        margin-bottom: calc(-1 * var(--space-lg));
        width: 125%;
        background: linear-gradient(0deg,
                                    rgba(135, 48, 1, 0.2),
                                    rgba(145, 58, 3, 0.3));
        box-shadow: 3px 3px 15px 10px inset rgba(252, 76, 2, 0.05);

        span {
          // margin-right: var(--space);
          margin-right: 1.2em;
        }
      }
    }

    .strava-activity-map {
      position: relative;
      top: 0%;
      left: 0%;
      height: 100%;
      width: 100%;

      .strava-activity-map-point {
        position: absolute;
        height: 3px;
        width: 4px;
        background: rgba(246, 255, 245, 0.3);
      }

      .leaflet-container {
        border: var(--line-width-sm) solid #fc4c02;
        margin-left: calc(0px - var(--space-lg));
        width: 112%;
        height: 29.0em;
        filter: invert(0.95) hue-rotate(170deg);
      }
    }
  }
}

.strava-activity-description {
  margin-right: var(--space);
  font-size: 80%;
}

.strava-activity-splits {
  position: relative;
  width: 100%;
  height: 85%;
  margin-top: calc(1 * var(--space-lg));
  font-size: 70%;
  margin-left: 0.2em;
  margin-right: 0.4em;

  .strava-activity-split {
    position: absolute;
    color: var(--light-1);
    padding: 0.5em;
    // height: 2em;
    // width: 2em;
    &.strava-activity-dot {
      span {
        color: var(--bg-1);
      }
    }
  }
  .strava-activity-split-legend {
    position: absolute;
    text-align: center;
  }
  > .scroll-reminder { // scroll reminder
    position: absolute;
    right: 1%;
    bottom: 10%;
  }

  .strava-activity-split-details {
    position: absolute;
    font-size: 120%;
    min-width: 14em;
  }
}

.strava-activity-segments {
  .strava-activity-segment {
    display: flex;
    justify-content: space-between;
    font-size: 90%;

    .strava-award {
      margin-right: 0.4em;
    }
  }

}

.strava-activity-kudos {
  position: relative;

  .strava-kudo-dot {
    width: 1.25em; height: 1em;
    margin-right: -0.55em;
  }

  .strava-kudos-popup {
    animation: fade-in 0.5s;
  }
}

.strava-popup {
  position: absolute;
  bottom: 1.5em; // dont use space here, just want it above origin line yeah
  left: 20%;
  min-height: 2.5em;
  min-width: 8em;
  // width: 100%;
  z-index: 2;
  padding: 0.5em;
  background: linear-gradient(rgba(30, 30, 30, 0.85), rgba(100, 40, 1, 0.85));
  backdrop-filter: blur(0.25rem);
  box-shadow: 0px 0px 19px 10px rgba(25, 26, 26, 0.2);
  border: var(--line-width-sm) solid var(--strava-color-muted);
}

.strava-award {
  font-size: 110%;
  margin-right: 0.1em;
  color: rgba(247, 177, 20, 0.6);
  background: -webkit-linear-gradient(rgba(247, 177, 20, 0.8), rgba(247, 177, 20, 0.3));
  &.silver {
    color: rgba(207, 177, 170, 0.6);
    background: -webkit-linear-gradient(rgba(207, 177, 170, 0.8), rgba(207, 177, 170, 0.3));
    -webkit-background-clip: text; // needs to be set after background/color, weird...
    -webkit-text-fill-color: transparent;
  }
  &.bronze {
    color: rgba(247, 107, 20, 0.6);
    background: -webkit-linear-gradient(rgba(247, 107, 20, 0.8), rgba(247, 107, 20, 0.3));
    -webkit-background-clip: text; // needs to be set after background/color, weird...
    -webkit-text-fill-color: transparent;
  }
  &.purple {
    color: rgba(147, 50, 250, 0.9);
    background: -webkit-linear-gradient(rgba(147, 50, 250, 0.9), rgba(147, 50, 220, 0.6));
    -webkit-background-clip: text; // needs to be set after background/color, weird...
    -webkit-text-fill-color: transparent;
  }
  &.blue {
    color: rgba(47, 50, 250, 0.9);
    background: -webkit-linear-gradient(rgba(47, 50, 250, 0.9), rgba(57, 70, 220, 0.6));
    -webkit-background-clip: text; // needs to be set after background/color, weird...
    -webkit-text-fill-color: transparent;
  }
  
  -webkit-background-clip: text; // needs to be set after background/color, weird...
  -webkit-text-fill-color: transparent;
}

