
/* wanted to put in own file but wasnt compatible with live reload solution... */
:root { /* general vars */
  /* SIZES */
  --space-static:      1.2rem;
  --space-lg-static:   2.0rem;
  --space:             1.2rem;
  --space-lg:          2.0rem;
  --space-sides:       var(--space-lg); /* inner horizontal margin */
  --space-edges:       var(--space-sides); /* size of outer edges  */
  --space-top:         2rem; /* top margin above header */
  --media-width-main: calc(100vw - 2 * var(--space-edges) - 2 * var(--line-width)); /* would it be context dependent or just use root 100% i guess uh */
  --banner-height:     600px;
  --logo-ratio:        0.3710; /* lol, 41.25 actual ratio, 40.6 works on chrome desktop, 40.0 on safari ios... */ /* just use img... */ /* or make logo look like i want in first place - needs higher-res or vector bounce anyways. then suddenly had to change to 3710... */
  --header-height:           4.5rem; /* beware can be 3 or 6 in practice.... temp bc reading arbitrary css vars with calc is fiddly */
  --header-with-menu-height: 18rem; /* not truly dynamic bc of annoying sticky */
  --header-height-current:   var(--header-height); /* will then be changed by js dep on whether menu open... */
  --header-height-offset:    var(--header-height);
  --footer-height:           3.25rem; // 3.00rem; // measured...
  --footer-height-full:      25.0rem;
  --footer-height-current:   var(--footer-height);
  --footer-bottom:           0rem;
  --link-offset:         calc( var(--header-height-current));
  --menu-width-fraction: 0.70;

  --comment-gap:         calc(0.20 * var(--space));

  --line-scale-factor: 0.5;
  --line-width:        2.0px; /* main design line/border width */ /* 0.125 normally 2px but nah ends up weird when font scales to like 1.67 and shize */
  --line-width-sm:     calc(1 / (1.5 + var(--line-scale-factor)) * var(--line-width)); /* main design line/border width */ /* 0.125 normally 2px but nah ends up weird when font scales to like 1.67 and shize */
  --line-width-md:     calc(((1 + var(--line-scale-factor)) / 2) * var(--line-width)); /* main design line/border width */ /* 0.125 normally 2px but nah ends up weird when font scales to like 1.67 and shize */
  --line-width-lg:     calc(1 / (1 + var(--line-scale-factor)) * var(--line-width)); /* main design line/border width */ /* 0.125 normally 2px but nah ends up weird when font scales to like 1.67 and shize */
  --line-width-vert:   2px; /* main design line/border width */ /* 0.125 normally 2px but nah ends up weird when font scales to like 1.67 and shize */
  --scale:             1.0; /* px line-width drifts when font scales so must compensate... better way? */
  
  --fiddle-multiplier: 1; /* was 3. works with line-width and header pixel dispair chrome+safari desktop. 2 would be the assumed correct tho... */
  --left-marker:       calc(100% * ((1.0 - var(--menu-width-fraction)) / 2)
                            + 0.75 * var(--space) - 1 * (var(--fiddle-multiplier) * var(--line-width)));
  --right-marker:       calc(100% - 1 * var(--left-marker) - 2 * var(--line-width)); /* makes sense right side needs one more unit since it has the right border... */
  --top-to-menu-height: calc(2 * var(--space-top) + 2em - 5 * var(--line-width));
  
  --header-expand-time:         0.5s;
  --navigation-transition-time: 0.7s;

  --perspective:       100;
  --parallax:          10;  // isnt like 1/10-1/5 normal? not half...
  --parallax-scale:    calc(1 + (var(--parallax) / var(--perspective)));
  --parallax-px:       calc(-1px * var(--parallax));
  
  --parallax-sm:       calc(0.50 * var(--parallax));
  --parallax-sm-scale: calc(1 + (var(--parallax-sm) / var(--perspective)));
  --parallax-sm-px:    calc(-1px * var(--parallax-sm));
  --parallax-squeeze-scale: calc(1 + (1 / var(--perspective) * var(--perspective)));
  --parallax-squeeze-px:    calc(-1px * var(--perspective));
  --parallax-squeeze-tf:    -1570%; /* fuck knows why */


  /* COLORS */
  --hue-1:             180; 
  --hue-2:               8;
  --hue-3:             192;
  --hue-4:             218;
  --hue-5:             290;
  --hue-6:             100;
  --lum-dark-1:        8%;
  --lum-dark-1-2:      10%;
  --lum-dark-2:        12%;
  --lum-dark-2-2:      14%;
  --lum-dark-3:        15%;
  --lum-dark-3-2:      17%;
  --lum-dark-4:        18%;
  --lum-dark-4-2:      21%;
  --lum-dark-5:        23%;
  --lum-dark-5-2:      25%;
  --lum-dark-6:        30%;
  --lum-dark-6-2:      35%;
  --lum-light-1:       calc(100% - var(--lum-dark-1-2));
  --lum-light-1-2:     calc(100% - var(--lum-dark-1));
  --lum-light-2:       calc(100% - var(--lum-dark-2-2));
  --lum-light-2-2:     calc(100% - var(--lum-dark-2));
  --lum-light-3:       calc(100% - var(--lum-dark-3-2));
  --lum-light-3-2:     calc(100% - var(--lum-dark-3));
  --lum-light-4:       calc(100% - var(--lum-dark-4-2));
  --lum-light-4-2:     calc(100% - var(--lum-dark-4));
  --lum-light-5:       calc(100% - var(--lum-dark-5-2));
  --lum-light-5-2:     calc(100% - var(--lum-dark-5));
  --lum-light-6:       calc(100% - var(--lum-dark-6-2));
  --lum-light-6-2:     calc(100% - var(--lum-dark-6));

  --light-1:           hsl(var(--hue-2), 20%, var(--lum-light-2));
  --light-1-2:         hsl(var(--hue-2), 20%, var(--lum-light-1-2));
  --light-2:           hsl(var(--hue-2), 7%, var(--lum-light-1));
  --light-2-2:         hsl(var(--hue-2), 7%, var(--lum-light-2-2));
  --light-text:        hsl(29, 35%, 86%);
  --light-3:           hsl(var(--hue-2), 15%, var(--lum-light-3));
  --light-3-2:         hsl(var(--hue-2), 15%, var(--lum-light-3-2));
  --light-4:           hsl(var(--hue-2), 7%, var(--lum-light-4));
  --light-4-2:         hsl(var(--hue-2), 7%, var(--lum-light-4-2));
  --light-5:           hsl(var(--hue-2), 7%, var(--lum-light-5));
  --light-5-2:         hsl(var(--hue-2), 7%, var(--lum-light-5-2));
  --light-6:           hsl(var(--hue-2), 7%, var(--lum-light-6));
  --light-6-2:         hsl(var(--hue-2), 7%, var(--lum-light-6-2));


  --nav-accent: hsla(var(--hue-3), 40%, 20%, 0.35);
  --selection-accent: hsl(14, 75%, 80%, 0.7);
  --neutral-accent: #99aaee; /* link? */
  /* fixc bruv/box */
  --red       : rgb(209, 132, 121);
  --red-2     : rgb(175, 115, 112);
  --red-3     : rgb(234, 154, 152);
  --green     : rgb(180, 184, 141);
  --green-2   : rgb(139, 140, 99) ;
  --green-3   : rgb(204, 218, 168);
  --yellow    : rgb(218, 189, 122);
  --yellow-2  : rgb(208, 175, 128);
  --yellow-3  : rgb(217, 200, 148);
  --blue      : rgb(118, 146, 171);
  --blue-2    : rgb(128, 160, 179);
  --blue-3    : rgb(166, 192, 205);
  --purple    : rgb(189, 151, 157);
  --purple-2  : rgb(175, 133, 137);
  --purple-3  : rgb(217, 183, 183);
  --aqua      : rgb(145, 184, 164);
  --aqua-2    : rgb(154, 180, 153);
  --aqua-3    : rgb(182, 209, 180);
  --orange    : rgb(204, 166, 135);
  --orange-2  : rgb(219, 161, 132);
  --orange-3  : rgb(217, 165, 138);
  
  --dark-1:     hsl(var(--hue-1),  7%,  var(--lum-dark-1));
  --dark-1-2:   hsl(var(--hue-1),  7%,  var(--lum-dark-1-2));
  --dark-2:     hsl(var(--hue-3),  7%,  var(--lum-dark-2));
  --dark-2-2:   hsl(var(--hue-3),  7%,  var(--lum-dark-2-2));
  --dark-3:     hsl(var(--hue-2),  7%,  var(--lum-dark-3));;
  --dark-3-2:   hsl(var(--hue-2),  7%,  var(--lum-dark-3-2));;
  --dark-4:     hsl(var(--hue-2),  7%,  var(--lum-dark-4));
  --dark-4-2:   hsl(var(--hue-2),  7%,  var(--lum-dark-4-2));
  --dark-5:     hsl(var(--hue-2),  7%,  var(--lum-dark-5));
  --dark-5-2:   hsl(var(--hue-2),  7%,  var(--lum-dark-5-2));
  --dark-6:     hsl(var(--hue-3),  7%,  var(--lum-dark-6));
  --dark-6-2:   hsl(var(--hue-3),  7%,  var(--lum-dark-6-2));

  --opacity-regular:  0.40;
  --opacity-faint:    0.20;
  --box-regular-color:    hsla(0, 0%, var(--lum-dark-1), var(--opacity-regular));
  --box-faint-color:      hsla(0, 0%, var(--lum-dark-1), var(--opacity-faint));
  --box-regular-color-flip:    hsla(0, 0%, var(--lum-light-1), var(--opacity-regular));
  --box-faint-color-flip:      hsla(0, 0%, var(--lum-light-1), var(--opacity-faint));

  --line-color:           hsla(0, 0%, 60%, 1.0); // color of borders etc

  // will need drastic tweaking for light theme
  --gradient-bg-main: linear-gradient(-77deg,
                                      hsl(280, 15%, 8%),
                                      var(--bg-1));
  // --gradient-bg-main: linear-gradient(-77deg,
  //                                     hsl(280, 20%, var(--lum-bg-1)),
  //                                     hsl(100, 11%, var(--lum-bg-1)));
  --user-box-bg:      linear-gradient(hsla(240deg 20% var(--lum-bg-3) / 75%) 0%,
                                      hsla(240deg 38% var(--lum-bg-3) / 90%) 100%);

  --user-box-shadow:     hsla(240deg 53% var(--lum-bg-6) / 90%);
  --user-avatar-shadow:  hsla(240deg 100% var(--lum-fg-1) / 40%);

}

:root { /* we run dark by default */
    --fg-1:     var(--light-1);
    --fg-1-2:   var(--light-1-2);
    --fg-2:     var(--light-2);
    --fg-2-2:   var(--light-2-2);
    --fg-3:     var(--light-3);
    --fg-3-2:   var(--light-3-2);
    --fg-4:     var(--light-4);
    --fg-4-2:   var(--light-4-2);
    --fg-5:     var(--light-5);
    --fg-5-2:   var(--light-5-2);
    --fg-6:     var(--light-6);
    --fg-6-2:   var(--light-6-2);
    --lum-fg-1: var(--lum-light-1);
    --lum-fg-2: var(--lum-light-2);
    --lum-fg-3: var(--lum-light-3);
    --lum-fg-4: var(--lum-light-4);
    --lum-fg-5: var(--lum-light-5);
    --lum-fg-6: var(--lum-light-6);
    --bg-1:     var(--dark-1);
    --bg-1-2:   var(--dark-1-2);
    --bg-2:     var(--dark-2);
    --bg-2-2:   var(--dark-2-2);
    --bg-3:     var(--dark-3);;
    --bg-3-2:   var(--dark-3-2);
    --bg-4:     var(--dark-4);
    --bg-4-2:   var(--dark-4-2);
    --bg-5:     var(--dark-5);
    --bg-5-2:   var(--dark-5-2);
    --bg-6:     var(--dark-6);
    --bg-6-2:   var(--dark-6-2);
    --lum-bg-1: var(--lum-dark-1);
    --lum-bg-2: var(--lum-dark-2);
    --lum-bg-3: var(--lum-dark-3);
    --lum-bg-4: var(--lum-dark-4);
    --lum-bg-5: var(--lum-dark-5);
    --lum-bg-6: var(--lum-dark-6);
    --box-regular-color-flip: hsla(0, 0%, var(--lum-light-1), var(--opacity-regular));
    --box-faint-color-flip:   hsla(0, 0%, var(--lum-light-1), var(--opacity-faint));
  }

// @media (prefers-color-scheme: light) {
:root.theme-light {
// :root {
  // should use some sass trick for this tho...
    --fg-1:     var(--dark-1);
    --fg-1-2:   var(--dark-1-2);
    --fg-2:     var(--dark-2);
    --fg-2-2:   var(--dark-2-2);
    --fg-3:     var(--dark-3);
    --fg-3-2:   var(--dark-3-2);
    --fg-4:     var(--dark-4);
    --fg-4-2:   var(--dark-4-2);
    --fg-5:     var(--dark-5);
    --fg-5-2:   var(--dark-5-2);
    --fg-6:     var(--dark-6);
    --fg-6-2:   var(--dark-6-2);
  --lum-fg-1:   var(--lum-dark-1);
  --lum-fg-2:   var(--lum-dark-2);
  --lum-fg-3:   var(--lum-dark-3);
  --lum-fg-4:   var(--lum-dark-4);
  --lum-fg-5:   var(--lum-dark-5);
  --lum-fg-6:   var(--lum-dark-6);
    --bg-1:     var(--light-1);
    --bg-1-2:   var(--light-1-2);
    --bg-2:     var(--light-2);
    --bg-2-2:   var(--light-2-2);
    --bg-3:     var(--light-3);;
    --bg-3-2:   var(--light-3-2);
    --bg-4:     var(--light-4);
    --bg-4-2:   var(--light-4-2);
    --bg-5:     var(--light-5);
    --bg-5-2:   var(--light-5-2);
    --bg-6:     var(--light-6);
    --bg-6-2:   var(--light-6-2);
  --lum-bg-1:   var(--lum-light-1);
  --lum-bg-2:   var(--lum-light-2);
  --lum-bg-3:   var(--lum-light-3);
  --lum-bg-4:   var(--lum-light-4);
  --lum-bg-5:   var(--lum-light-5);
  --lum-bg-6:   var(--lum-light-6);
  
  --gradient-bg-main: linear-gradient(-77deg,
                                      hsl(280, 15%, 88%),
                                      var(--bg-1));
 

  --red       : rgb(104, 56, 50);
  --red-2     : rgb(87, 47, 46);
  --red-3     : rgb(117, 67, 66);
  --green     : rgb(80, 92, 60);
  --green-2   : rgb(59, 70, 39) ;
  --green-3   : rgb(92, 109, 74);
  --yellow    : rgb(109, 94, 51);
  --yellow-2  : rgb(104, 87, 54);
  --yellow-3  : rgb(108, 100, 64);
  --blue      : rgb(49, 63, 85);
  --blue-2    : rgb(54, 70, 89);
  --blue-3    : rgb(73, 86, 102);
  --purple    : rgb(94, 65, 78);
  --purple-2  : rgb(87, 56, 68);
  --purple-3  : rgb(108, 81, 91);
  --aqua      : rgb(62, 92, 82);
  --aqua-2    : rgb(67, 90, 76);
  --aqua-3    : rgb(81, 104, 90);
  --orange    : rgb(102, 73, 57);
  --orange-2  : rgb(109, 80, 76);
  --orange-3  : rgb(108, 82, 59);
}
// }

