.contact-form-popup {
  position: fixed;
  width: calc(100% - 2 * var(--space-sides)); // - 2 * var(--line-width-vert));
  max-height: 0%;
  opacity: 0%;
  left: calc(var(--space-sides)); // + var(--line-width-vert));
  bottom: calc(0rem - var(--line-width));
  overflow: hidden;

  transition: bottom 0.5s ease, max-height 0.5s ease, opacity 0.8s ease;

  color: var(--light-3);
  background: linear-gradient(180deg, rgba(65, 20, 160, 0.3),
                                      rgba(80, 20, 200, 0.8) 50%,
                                      rgba(30, 10, 120, 0.36));
  backdrop-filter: blur(0.25rem); // remember firefox lacks this so need fallback there when using this...
  box-shadow: 0rem 0rem 1.8125rem 0.1875rem rgba(150, 150, 250, 0.15);
  padding: var(--space) 0.15em;
                                    
  input, textarea {
    opacity: 85%;
    padding: 1em;
  }

  button {
    // margin: none;
    // padding: none;
    font-size: 150%;
  }
                                    
  > h2 {
    text-align: center;
    text-decoration-color: var(--purple);
    font-size: 250%;
    margin-bottom: calc(1 * var(--space));
  }
  p {
    font-size: 120%;
    margin: var(--space) var(--space-lg);
  }

  &.inited {
    max-height: 80%;
    bottom: calc(var(--footer-height-current) + env(safe-area-inset-bottom, 0rem) - var(--line-width));
    opacity: 100%;
  }
  &.result {
    max-height: 20%;
    opacity: 100%;
  }
  &.closing {
    max-height: 0%;
    opacity: 0%;
  }

  .contact-form-form {
    margin-top: 0.2em;
    overflow: hidden;
    transition: all 1.8s ease;
    // position: relative;

    input {
      border-radius: 0;
      margin: 0;

      &[type="submit"] {
        margin-top: -0.6em;
        width: 100%;
        background-color: var(--bg-2);
      }
    }

    > div {
      flex-direction: column;
      align-items: center;
    }

    label {
      color: var(--red-2);
      margin-top: 0.4em;
      font-size: 75%;
    }
  }
}
