/* BLOG STUFF */

.blog {
  z-index: 30;
  background: var(--gradient-bg-main);
}
.blog-post {
}
.blog-section {
}
.blog-comments {
  background-color: var(--bg-1);
  /* border: var(--line-width-sm) solid; */
}
.blog-comment {
  position: relative;
  /* background-color: var(--bg-2); */
}
.blog-btn {
  background-color: var(--bg-2);
  font-size: 0.8em;
  border-radius: 0;
}
.blog-add-comment-btn {
}
.blog-reply-comment-btn {
  position: absolute;
  right: var(--space);
  top: var(--space);
  opacity: 0;
  transition: 0.15s;
}
.blog-comment:hover .blog-reply-comment-btn,
.blog-comment:active .blog-reply-comment-btn {
  opacity: 1;
  /* transition: 0.15s; */
}
.blog-reply-comment-btn:hover {
  /* font-weight: bold; */
  font-size: 1.2em;
}

.blog-adding-comment {
  margin: 0;
  padding: 1em 0em;
  background-color: var(--bg-1);
  color: var(--fg-2);
}
textarea.blog-adding-comment-textbox {
  width: 100%;
  max-width: 100%;
  height: 6em;
}

.blog-adding-comment-textbox {
  background-color: var(--bg-1);
  color: var(--fg-2);
}

.blog-comment-preview {
  background-color: var(--bg-2);
  margin: var(--space-sm);
  padding: 0.75em;
}

