/* TODO add more ways */

.carousel { /* sliding background images */
}

.carousel-item { /* individual item wrapper (or just apply straight to img/item?) for carousel */
}

.carousel-nav { /* container for navigation buttons */
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel-nav-item { /* indicator */
  display: inline-block;
  border-radius: 100%;
  border: 1px solid var(--fg-1);
  width: 1em;
  height: 1em;
  margin: 0.25em;
}
.carousel-nav-item.checked {
  background-color: var(--fg-1);
}

/* FROM CSS-TRICKS https://css-tricks.com/css-only-carousel/ */
/* try adapt/merge semi merge w .sideways (which should be named like .gallery-manual...) */
@keyframes tonext {
  65% { left: 0; }
  95% { left: 100%; }
  98% { left: 100%; }
  99% { left: 0; }
}

@keyframes tostart {
  65% { left: 0; }
  95% { left: -300%; } /* would have to be set by vars for flexible num of slides? */
  98% { left: -300%; }
  99% { left: 0; }
}

@keyframes snap {
  96% { scroll-snap-align: center; }
  97% { scroll-snap-align: none; }
  99% { scroll-snap-align: none; }
  100% { scroll-snap-align: center; }
}

* {
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}
* { -ms-overflow-style: none; }
*::-webkit-scrollbar { width: 0; }
*::-webkit-scrollbar-track { background: transparent; }
*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}


.carousel > li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  /* padding-top: 100%; /1* need to understand what this compensates for lol *1/ */
  /* perspective: 100px; */
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  counter-increment: item;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  /* color: #fff; */
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) { /* kills doesnt transition if reduced-motion - should rather fade in place no */
  .carousel__snapper { animation-name: none; }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper { /* kill carousel once focus */
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 2rem;
  height: 2rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  /* outline: 0; */
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}
.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before { /* uh why not put this in place I guess then it's no longer bg but like so?? */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}
.carousel::after {
  background-image: url("data:image/svg+xml,%3csvg viewbox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3e%3cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3e%3c/svg%3e");
}



/* HORIZONTAL GALLERY SCROLL THING */
.sideways { /* scroll horizontally */
  overscroll-behavior-x: contain; /* keeps the sideways swiping from resulting in accidental page-back etc. only on chrome ...*/
  scroll-snap-type: x mandatory;

  overflow-x: scroll;
  overflow-y: hidden;
  max-height: calc(90vh - var(--header-height));
  display: flex;
  flex-wrap: nowrap;
  padding-top: 0;
  padding-bottom: 0;
}
.sideways > div, .sideways > img {
  scroll-snap-align: start;
  position: sticky;
  left: 0;
  /* width: unset; */
  object-fit: cover; /* gets weird with extreme viewports (like iphone either portrait or landscape) but not sure how else to deal with it... */
  margin: 0;
  border-left: var(--line-width-vert) solid;
  border-radius: 0;
  box-shadow: -0.5rem 0 1rem 0.5rem var(--box-regular-color);
}
.sideways > *:first-of-type { /* left first be throwaway item */
  border: 0;
  animation: nudge 5s infinite;
  animation-play-state: paused;
  margin-right: calc(-2 * var(--space-lg));
}
@keyframes nudge { /* some weird safari bug where it doesnt revert properly and ends up animating for 100% not 20% of sequence... */
  0%, 20% { margin-right: calc(-2 * var(--space-lg)); }
  10% { margin-right: calc(-3 * var(--space-lg)); }
}
.sideways > *:first-of-type:hover,
.sideways > *:first-of-type:focus {
  animation-play-state: running;
}
.sideways > *:nth-of-type(2) { /* keep item visible on right as signal can scroll sideways */
  left: 3%;
  /* transform: translateZ(var(--parallax-sm-px)) scale(var(--parallax-sm-scale)); */
  /* transform-origin: 50% -950%; */
}
.sideways > *:nth-of-type(3) { left: 6%; }
.sideways > *:nth-of-type(4) { left: 9%; }
.sideways > *:nth-of-type(5) { left: 12%; }

.sideways > *:last-of-type {
  /* border: 0; */
  /* padding-right: var(--space-lg); */
  /* margin-right: var(--space-lg); */
}

